### Data
The data I will be using for this project are listed below:

-Table containing list of London areas  
-London crime rates by borough  
-London unemployment rates by borough  
-Average house prices in London by borough  
-Foursquare API data

I will describe the content of each data, display examples, its sources and how it will be used.

In [1]:
import pandas as pd
import numpy as np
import json
from urllib import request
!pip install bs4
from bs4 import BeautifulSoup
!pip install geocoder
import geocoder
!pip install OSGridConverter
from OSGridConverter import grid2latlong
import requests
import json
from pandas.io.json import json_normalize

Collecting bs4
  Downloading https://files.pythonhosted.org/packages/10/ed/7e8b97591f6f456174139ec089c769f89a94a1a4025fe967691de971f314/bs4-0.0.1.tar.gz
Collecting beautifulsoup4 (from bs4)
  Downloading https://files.pythonhosted.org/packages/66/25/ff030e2437265616a1e9b25ccc864e0371a0bc3adb7c5a404fd661c6f4f6/beautifulsoup4-4.9.1-py3-none-any.whl (115kB)
     |████████████████████████████████| 122kB 23.4MB/s eta 0:00:01
Collecting soupsieve>1.2 (from beautifulsoup4->bs4)
  Downloading https://files.pythonhosted.org/packages/6f/8f/457f4a5390eeae1cc3aeab89deb7724c965be841ffca6cfca9197482e470/soupsieve-2.0.1-py3-none-any.whl
Building wheels for collected packages: bs4
  Building wheel for bs4 (setup.py) ... done
  Stored in directory: /home/jupyterlab/.cache/pip/wheels/a0/b0/b2/4f80b9456b87abedbc0bf2d52235414c3467d8889be38dd472
Successfully built bs4
Installing collected packages: soupsieve, beautifulsoup4, bs4
Successfully installed beautifulsoup4-4.9.1 bs4-0.0.1 soupsieve-2.0.1
Collecting geocoder
  Downloading https://files.pythonhosted.org/packages/4f/6b/13166c909ad2f2d76b929a4227c952630ebaf0d729f6317eb09cbceccbab/geocoder-1.38.1-py2.py3-none-any.whl (98kB)
     |████████████████████████████████| 102kB 5.9MB/s ta 0:00:011
Collecting ratelim (from geocoder)
  Downloading https://files.pythonhosted.org/packages/f2/98/7e6d147fd16a10a5f821db6e25f192265d6ecca3d82957a4fdd592cad49c/ratelim-0.1.6-py2.py3-none-any.whl
Requirement already satisfied: six in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from geocoder) (1.15.0)
Collecting future (from geocoder)
  Downloading https://files.pythonhosted.org/packages/45/0b/38b06fd9b92dc2b68d58b75f900e97884c45bedd2ff83203d933cf5851c9/future-0.18.2.tar.gz (829kB)
     |████████████████████████████████| 829kB 4.8MB/s eta 0:00:01
Collecting click (from geocoder)
  Using cached https://files.pythonhosted.org/packages/d2/3d/fa76db83bf75c4f8d338c2fd15c8d33fdd7ad23a9b5e57eb6c5de26b430e/click-7.1.2-py2.py3-none-any.whl
Requirement already satisfied: requests in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from geocoder) (2.24.0)
Requirement already satisfied: decorator in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from ratelim->geocoder) (4.4.2)
Requirement already satisfied: idna<3,>=2.5 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests->geocoder) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests->geocoder) (2020.6.20)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests->geocoder) (1.25.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests->geocoder) (3.0.4)
Building wheels for collected packages: future
  Building wheel for future (setup.py) ... done
  Stored in directory: /home/jupyterlab/.cache/pip/wheels/8b/99/a0/81daf51dcd359a9377b110a8a886b3895921802d2fc1b2397e
Successfully built future
Installing collected packages: ratelim, future, click, geocoder
Successfully installed click-7.1.2 future-0.18.2 geocoder-1.38.1 ratelim-0.1.6
Collecting OSGridConverter
  Downloading https://files.pythonhosted.org/packages/3b/aa/9c987e3af57d2221a67ebfe57c0fc090f177a5fe736593814f2ad0de5b40/OSGridConverter-0.1.3-py3-none-any.whl
Installing collected packages: OSGridConverter
Successfully installed OSGridConverter-0.1.3

### 1.Table containing list of London areas
This table will be scraped from the following Wikipedia page: https://en.wikipedia.org/wiki/List_of_areas_of_London  
This will be used as it is a useful table sorting different areas in London by borough.  
Example dataframe that will be used is shown below

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_areas_of_London'
response = request.urlopen(url)
soup = BeautifulSoup(response)

response.close()
table = soup.find('table',attrs={'class':'wikitable sortable'})
table_data = [[cell.text for cell in row("td")]
                         for row in table("tr")]
del table_data[0]

In [3]:
londonarea = pd.DataFrame(table_data)
londonarea.head()

,0,1,2,3,4,5
0,Abbey Wood,"Bexley, Greenwich [7]",LONDON,SE2,020,TQ465785\n
1,Acton,"Ealing, Hammersmith and Fulham[8]",LONDON,"W3, W4",020,TQ205805\n
2,Addington,Croydon[8],CROYDON,CR0,020,TQ375645\n
3,Addiscombe,Croydon[8],CROYDON,CR0,020,TQ345665\n
4,Albany Park,Bexley,"BEXLEY, SIDCUP","DA5, DA14",020,TQ478728\n

In [4]:
londonarea

,0,1,2,3,4,5
0,Abbey Wood,"Bexley, Greenwich [7]",LONDON,SE2,020,TQ465785\n
1,Acton,"Ealing, Hammersmith and Fulham[8]",LONDON,"W3, W4",020,TQ205805\n
2,Addington,Croydon[8],CROYDON,CR0,020,TQ375645\n
3,Addiscombe,Croydon[8],CROYDON,CR0,020,TQ345665\n
4,Albany Park,Bexley,"BEXLEY, SIDCUP","DA5, DA14",020,TQ478728\n
...,...,...,...,...,...,...
528,Woolwich,Greenwich,LONDON,SE18,020,TQ435795\n
529,Worcester Park,"Sutton, Kingston upon Thames",WORCESTER PARK,KT4,020,TQ225655\n
530,Wormwood Scrubs,Hammersmith and Fulham,LONDON,W12,020,TQ225815\n
531,Yeading,Hillingdon,HAYES,UB4,020,TQ115825\n
532,Yiewsley,Hillingdon,WEST DRAYTON,UB7,020,TQ063804\n

In [5]:
londonarea.drop(columns=[2,3,4],inplace=True)
londonarea.columns = ['Location','Borough','OSgridref']
for index,row in londonarea.iterrows():
    try:
        bst = row['Borough'].index('[')
        londonarea.iloc[index,1] = (londonarea.iloc[index,1])[0:bst]
    except:   
        londonarea.iloc[index,1] = (londonarea.iloc[index,1])
        
    ends = len(row['OSgridref']) -1
    londonarea.iloc[index,2] = londonarea.iloc[index,2][0:ends]

londonarea['Borough'] = londonarea['Borough'].replace(['Kensington and ChelseaHammersmith and Fulham'],'Kensington and Chelsea, Hammersmith and Fulham')
londonarea['Borough'] = londonarea['Borough'].replace(['Camden and Islington'],['Camden & Islington'])
londonarea['Borough'] = londonarea['Borough'].replace(['Haringey and Barnet'],['Haringey & Barnet'])

In [6]:
temp = pd.DataFrame(londonarea['Borough'].str.split(', | & ',expand=True).stack())
temp[0].unique()

array(['Bexley', ' Greenwich ', 'Ealing', 'Hammersmith and Fulham',
       'Croydon', 'Redbridge', 'City', 'Westminster', 'Brent', 'Bromley',
       'Islington', 'Havering', 'Barnet', 'Enfield', 'Wandsworth',
       'Southwark', 'Barking and Dagenham', 'Richmond upon Thames',
       'Newham', 'Sutton', 'Lewisham', 'Harrow', 'Camden',
       'Kingston upon Thames', 'Tower Hamlets', 'Greenwich', 'Haringey',
       'Hounslow', 'Lambeth', 'Kensington and Chelsea', 'Waltham Forest',
       'Merton', 'Hillingdon', 'Hackney', 'Dartford'], dtype=object)

In [7]:
temp.reset_index(level=1,drop=True,inplace=True)
temp

                          0
0                    Bexley
0                Greenwich
1                    Ealing
1    Hammersmith and Fulham
2                   Croydon
..                      ...
529                  Sutton
529    Kingston upon Thames
530  Hammersmith and Fulham
531              Hillingdon
532              Hillingdon

[566 rows x 1 columns]

In [8]:
temp[0].unique()
temp.columns= ['Boroughs']

In [9]:
temp['Boroughs'] = temp['Boroughs'].replace([' Greenwich '],['Greenwich'])

In [10]:
print(temp['Boroughs'].unique())
print(np.shape(temp['Boroughs'].unique()))

['Bexley' 'Greenwich' 'Ealing' 'Hammersmith and Fulham' 'Croydon'
 'Redbridge' 'City' 'Westminster' 'Brent' 'Bromley' 'Islington' 'Havering'
 'Barnet' 'Enfield' 'Wandsworth' 'Southwark' 'Barking and Dagenham'
 'Richmond upon Thames' 'Newham' 'Sutton' 'Lewisham' 'Harrow' 'Camden'
 'Kingston upon Thames' 'Tower Hamlets' 'Haringey' 'Hounslow' 'Lambeth'
 'Kensington and Chelsea' 'Waltham Forest' 'Merton' 'Hillingdon' 'Hackney'
 'Dartford']
(34,)

In [11]:
londonarea = londonarea.join(temp)
londonarea

,Location,Borough,OSgridref,Boroughs
0,Abbey Wood,"Bexley, Greenwich",TQ465785,Bexley
0,Abbey Wood,"Bexley, Greenwich",TQ465785,Greenwich
1,Acton,"Ealing, Hammersmith and Fulham",TQ205805,Ealing
1,Acton,"Ealing, Hammersmith and Fulham",TQ205805,Hammersmith and Fulham
2,Addington,Croydon,TQ375645,Croydon
...,...,...,...,...
529,Worcester Park,"Sutton, Kingston upon Thames",TQ225655,Sutton
529,Worcester Park,"Sutton, Kingston upon Thames",TQ225655,Kingston upon Thames
530,Wormwood Scrubs,Hammersmith and Fulham,TQ225815,Hammersmith and Fulham
531,Yeading,Hillingdon,TQ115825,Hillingdon
532,Yiewsley,Hillingdon,TQ063804,Hillingdon

In [12]:
londonarea[londonarea['Borough']=='Kensington and Chelsea, Hammersmith and Fulham']

,Location,Borough,OSgridref,Boroughs
68,Brompton,"Kensington and Chelsea, Hammersmith and Fulham",TQ275795,Kensington and Chelsea
68,Brompton,"Kensington and Chelsea, Hammersmith and Fulham",TQ275795,Hammersmith and Fulham

In [13]:
londonarea.drop(columns=['Borough'],inplace=True)
londonarea

            Location OSgridref                Boroughs
0         Abbey Wood  TQ465785                  Bexley
0         Abbey Wood  TQ465785               Greenwich
1              Acton  TQ205805                  Ealing
1              Acton  TQ205805  Hammersmith and Fulham
2          Addington  TQ375645                 Croydon
..               ...       ...                     ...
529   Worcester Park  TQ225655                  Sutton
529   Worcester Park  TQ225655    Kingston upon Thames
530  Wormwood Scrubs  TQ225815  Hammersmith and Fulham
531          Yeading  TQ115825              Hillingdon
532         Yiewsley  TQ063804              Hillingdon

[566 rows x 3 columns]

In [14]:
londonarea = londonarea[londonarea.OSgridref != '']
londonarea.reset_index(drop=True,inplace=True)

In [15]:
londonarea

            Location OSgridref                Boroughs
0         Abbey Wood  TQ465785                  Bexley
1         Abbey Wood  TQ465785               Greenwich
2              Acton  TQ205805                  Ealing
3              Acton  TQ205805  Hammersmith and Fulham
4          Addington  TQ375645                 Croydon
..               ...       ...                     ...
559   Worcester Park  TQ225655                  Sutton
560   Worcester Park  TQ225655    Kingston upon Thames
561  Wormwood Scrubs  TQ225815  Hammersmith and Fulham
562          Yeading  TQ115825              Hillingdon
563         Yiewsley  TQ063804              Hillingdon

[564 rows x 3 columns]

In [16]:
londonarea = londonarea[londonarea['Boroughs'] != 'Dartford']
londonarea.reset_index(inplace=True,drop=True)

In [17]:
londonarea

            Location OSgridref                Boroughs
0         Abbey Wood  TQ465785                  Bexley
1         Abbey Wood  TQ465785               Greenwich
2              Acton  TQ205805                  Ealing
3              Acton  TQ205805  Hammersmith and Fulham
4          Addington  TQ375645                 Croydon
..               ...       ...                     ...
558   Worcester Park  TQ225655                  Sutton
559   Worcester Park  TQ225655    Kingston upon Thames
560  Wormwood Scrubs  TQ225815  Hammersmith and Fulham
561          Yeading  TQ115825              Hillingdon
562         Yiewsley  TQ063804              Hillingdon

[563 rows x 3 columns]

In [18]:

l=grid2latlong('TQ465785')
latitude = l.latitude
longitude = l.longitude

In [19]:
latitude

51.48648353740194

In [20]:
longitude
eg = [l.latitude,l.longitude]
eg

[51.48648353740194, 0.10931788814329141]

In [21]:
from geocoder import geocodefarm
test = geocoder.geocodefarm(eg,method='reverse')
test

<[OK] Geocodefarm - Reverse [82 Rochdale Road, Abbey Wood, SE2 0XB, United Kingdom]>

In [22]:
lat = np.zeros(563)
lng = np.zeros(563)
for index,row in londonarea.iterrows():
    lat_long = None
    gridref = row['OSgridref']
    while(lat_long==None):
        l = None
        l = grid2latlong(gridref)
        lat_long = [l.latitude, l.longitude]
    lat[int(index)] = lat_long[0]
    lng[int(index)] = lat_long[1]

In [23]:
londonarea['latitude'] = lat
londonarea['longitude'] = lng

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [24]:
londonarea
londonarea.to_csv('indepthboroughs.csv')

In [25]:
eg = [londonarea.iloc[4,3],londonarea.iloc[4,4]]
print(eg)
test = geocoder.geocodefarm(eg,method='reverse')
test

[51.362934332501695, -0.025779934554391835]

<[OK] Geocodefarm - Reverse [Gate House Bridle Way, Croydon, CR0 5AH, United Kingdom]>

In [26]:
url = 'https://www.finder.com/uk/london-crime-statistics'
response = request.urlopen(url)
soup = BeautifulSoup(response)
response.close()
#table = soup.findAll('table')
table = soup.find('table',attrs={'class':'luna-table js-tablesorter'})
table_data = [[cell.text for cell in row("td")]
                         for row in table("tr")]
del table_data[0]

In [27]:
table_data

[['Westminster', '73,569'],
 ['Wandsworth', '27,240'],
 ['Waltham Forest', '25,930/td>'],
 ['Tower Hamlets', '35,448'],
 ['Sutton', '14,857'],
 ['Southwark', '38,778'],
 ['Richmond upon Thames', '13,406'],
 ['Redbridge', '25,379'],
 ['Newham', '37,090'],
 ['Merton', '15,162'],
 ['Lewisham', '30,498'],
 ['Lambeth', '36,197'],
 ['Kingston upon Thames', '13,225'],
 ['Kensington and Chelsea', '24,294'],
 ['Islington', '30,376'],
 ['Hounslow', '27,896'],
 ['Hillingdon', '28,583'],
 ['Havering', '19,180'],
 ['Harrow', '17,901'],
 ['Haringey', '32,802'],
 ['Hammersmith and Fulham', '23,359'],
 ['Hackney', '34,482'],
 ['Greenwich', '30,000'],
 ['Enfield', '32,071'],
 ['Ealing', '32,828'],
 ['Croydon', '36,779'],
 ['City', '8,268'],
 ['Camden', '38,520'],
 ['Bromley', '25,792'],
 ['Brent', '31,706'],
 ['Bexley', '18,308'],
 ['Barnet', '31,892'],
 ['Barking and Dagenham', '31,892']]

In [28]:
crimes = pd.DataFrame(table_data)
crimes

                         0           1
0              Westminster      73,569
1               Wandsworth      27,240
2           Waltham Forest  25,930/td>
3            Tower Hamlets      35,448
4                   Sutton      14,857
5                Southwark      38,778
6     Richmond upon Thames      13,406
7                Redbridge      25,379
8                   Newham      37,090
9                   Merton      15,162
10                Lewisham      30,498
11                 Lambeth      36,197
12    Kingston upon Thames      13,225
13  Kensington and Chelsea      24,294
14               Islington      30,376
15                Hounslow      27,896
16              Hillingdon      28,583
17                Havering      19,180
18                  Harrow      17,901
19                Haringey      32,802
20  Hammersmith and Fulham      23,359
21                 Hackney      34,482
22               Greenwich      30,000
23                 Enfield      32,071
24                  Ealing      32,828
25                 Croydon      36,779
26                    City       8,268
27                  Camden      38,520
28                 Bromley      25,792
29                   Brent      31,706
30                  Bexley      18,308
31                  Barnet      31,892
32    Barking and Dagenham      31,892

In [29]:
crimes.columns=['Boroughs','CrimeOccurence']

In [30]:
londonframe = pd.merge(londonarea, crimes, on=['Boroughs'])

In [31]:
londonframe

            Location OSgridref Boroughs   latitude  longitude CrimeOccurence
0         Abbey Wood  TQ465785   Bexley  51.486484   0.109318         18,308
1        Albany Park  TQ478728   Bexley  51.434929   0.125663         18,308
2         Barnehurst  TQ505755   Bexley  51.458479   0.165667         18,308
3        Barnes Cray  TQ525755   Bexley  51.457944   0.194464         18,308
4          Belvedere  TQ495785   Bexley  51.485699   0.152539         18,308
..               ...       ...      ...        ...        ...            ...
558    South Hackney  TQ355845  Hackney  51.543141  -0.046853         34,482
559    Stamford Hill  TQ335875  Hackney  51.570576  -0.074562         34,482
560  Stoke Newington  TQ335865  Hackney  51.561590  -0.074942         34,482
561    Upper Clapton  TQ345875  Hackney  51.570339  -0.060129         34,482
562     West Hackney  TQ340865  Hackney  51.561471  -0.067727         34,482

[563 rows x 6 columns]

In [32]:
print(londonframe.isnull().any())

Location          False
OSgridref         False
Boroughs          False
latitude          False
longitude         False
CrimeOccurence    False
dtype: bool

In [33]:
londonframe[londonframe['CrimeOccurence']=='']

Empty DataFrame
Columns: [Location, OSgridref, Boroughs, latitude, longitude, CrimeOccurence]
Index: []

In [34]:
londonframe[londonframe['latitude']=='']

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/pandas/core/ops/array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

Empty DataFrame
Columns: [Location, OSgridref, Boroughs, latitude, longitude, CrimeOccurence]
Index: []

In [35]:
londonframe[londonframe['longitude']=='']

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/pandas/core/ops/array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

Empty DataFrame
Columns: [Location, OSgridref, Boroughs, latitude, longitude, CrimeOccurence]
Index: []

In [36]:
np.shape(londonarea['Boroughs'].unique())

(33,)

In [37]:
Filter = londonarea['Boroughs'].unique()

In [38]:
Filter = list(Filter)
Filter

['Bexley',
 'Greenwich',
 'Ealing',
 'Hammersmith and Fulham',
 'Croydon',
 'Redbridge',
 'City',
 'Westminster',
 'Brent',
 'Bromley',
 'Islington',
 'Havering',
 'Barnet',
 'Enfield',
 'Wandsworth',
 'Southwark',
 'Barking and Dagenham',
 'Richmond upon Thames',
 'Newham',
 'Sutton',
 'Lewisham',
 'Harrow',
 'Camden',
 'Kingston upon Thames',
 'Tower Hamlets',
 'Haringey',
 'Hounslow',
 'Lambeth',
 'Kensington and Chelsea',
 'Waltham Forest',
 'Merton',
 'Hillingdon',
 'Hackney']

In [39]:
url = 'https://www.gmblondon.org.uk/news/16-boroughs-in-london-have-employment-rate-below-uk-average.html#:~:text=In%20Sutton%2C%2082.4%25%20of%20the,Richmond%20upon%20Thames%20with%2078.9%25.'
response = request.urlopen(url)
soup = BeautifulSoup(response)
response.close()

In [40]:
table = soup.find('table')
table_data = [[cell.text for cell in row("td")]
                         for row in table("tr")]

In [41]:
employment = pd.DataFrame(table_data)
employment

,0,1,2,3
0,\n\t\t\tAnnual Population Survey – April 2016-...,None,None,None
1,,,\n\t\t\tEmployment rate - aged 16-64\n\t\t\t,None
2,,,\n\t\t\tnumber\n\t\t\t,\n\t\t\t%\n\t\t\t
3,,\n\t\t\tEngland\n\t\t\t,"\n\t\t\t25,725,800\n\t\t\t",\n\t\t\t74.4\n\t\t\t
4,,\n\t\t\tGreat Britain\n\t\t\t,"\n\t\t\t29,589,700\n\t\t\t",\n\t\t\t74.2\n\t\t\t
5,,\n\t\t\tUnited Kingdom\n\t\t\t,"\n\t\t\t30,395,200\n\t\t\t",\n\t\t\t74.0\n\t\t\t
6,,,,
7,,\n\t\t\tLondon\n\t\t\t,"\n\t\t\t4,428,500\n\t\t\t",\n\t\t\t73.8\n\t\t\t
8,\n\t\t\trank\n\t\t\t,,,
9,\n\t\t\t1\n\t\t\t,\n\t\t\tSutton\n\t\t\t,"\n\t\t\t106,800\n\t\t\t",\n\t\t\t82.4\n\t\t\t
10,\n\t\t\t2\n\t\t\t,\n\t\t\tCity of London\n\t\t\t,"\n\t\t\t6,800\n\t\t\t",\n\t\t\t82.1\n\t\t\t
11,\n\t\t\t3\n\t\t\t,\n\t\t\tLambeth\n\t\t\t,"\n\t\t\t201,700\n\t\t\t",\n\t\t\t81.9\n\t\t\t
12,\n\t\t\t4\n\t\t\t,\n\t\t\tWandsworth\n\t\t\t,"\n\t\t\t185,100\n\t\t\t",\n\t\t\t80.3\n\t\t\t
13,\n\t\t\t5\n\t\t\t,\n\t\t\tBromley\n\t\t\t,"\n\t\t\t160,600\n\t\t\t",\n\t\t\t79.0\n\t\t\t
14,\n\t\t\t6\n\t\t\t,\n\t\t\tRichmond upon Thames\n\t\t\t,"\n\t\t\t101,800\n\t\t\t",\n\t\t\t78.9\n\t\t\t
15,\n\t\t\t7\n\t\t\t,\n\t\t\tHavering\n\t\t\t,"\n\t\t\t122,900\n\t\t\t",\n\t\t\t78.3\n\t\t\t
16,\n\t\t\t8\n\t\t\t,\n\t\t\tCroydon\n\t\t\t,"\n\t\t\t193,200\n\t\t\t",\n\t\t\t77.8\n\t\t\t
17,\n\t\t\t9\n\t\t\t,\n\t\t\tMerton\n\t\t\t,"\n\t\t\t108,600\n\t\t\t",\n\t\t\t77.8\n\t\t\t
18,\n\t\t\t10\n\t\t\t,\n\t\t\tLewisham\n\t\t\t,"\n\t\t\t163,100\n\t\t\t",\n\t\t\t77.4\n\t\t\t
19,\n\t\t\t11\n\t\t\t,\n\t\t\tHammersmith and Fulham\n\t\t\t,"\n\t\t\t100,500\n\t\t\t",\n\t\t\t76.2\n\t\t\t
20,\n\t\t\t12\n\t\t\t,\n\t\t\tBexley\n\t\t\t,"\n\t\t\t119,400\n\t\t\t",\n\t\t\t76.0\n\t\t\t
21,\n\t\t\t13\n\t\t\t,\n\t\t\tWaltham Forest\n\t\t\t,"\n\t\t\t141,200\n\t\t\t",\n\t\t\t75.6\n\t\t\t
22,\n\t\t\t14\n\t\t\t,\n\t\t\tEaling\n\t\t\t,"\n\t\t\t172,600\n\t\t\t",\n\t\t\t75.3\n\t\t\t
23,\n\t\t\t15\n\t\t\t,\n\t\t\tHaringey\n\t\t\t,"\n\t\t\t146,700\n\t\t\t",\n\t\t\t74.7\n\t\t\t
24,\n\t\t\t16\n\t\t\t,\n\t\t\tSouthwark\n\t\t\t,"\n\t\t\t172,400\n\t\t\t",\n\t\t\t74.6\n\t\t\t
25,\n\t\t\t17\n\t\t\t,\n\t\t\tHillingdon\n\t\t\t,"\n\t\t\t147,600\n\t\t\t",\n\t\t\t74.2\n\t\t\t
26,\n\t\t\t18\n\t\t\t,\n\t\t\tHarrow\n\t\t\t,"\n\t\t\t118,400\n\t\t\t",\n\t\t\t73.5\n\t\t\t
27,\n\t\t\t19\n\t\t\t,\n\t\t\tGreenwich\n\t\t\t,"\n\t\t\t135,800\n\t\t\t",\n\t\t\t73.0\n\t\t\t
28,\n\t\t\t20\n\t\t\t,\n\t\t\tHackney\n\t\t\t,"\n\t\t\t144,600\n\t\t\t",\n\t\t\t72.8\n\t\t\t
29,\n\t\t\t21\n\t\t\t,\n\t\t\tBarnet\n\t\t\t,"\n\t\t\t184,700\n\t\t\t",\n\t\t\t72.4\n\t\t\t
30,\n\t\t\t22\n\t\t\t,\n\t\t\tIslington\n\t\t\t,"\n\t\t\t125,300\n\t\t\t",\n\t\t\t72.0\n\t\t\t
31,\n\t\t\t23\n\t\t\t,\n\t\t\tKingston upon Thames\n\t\t\t,"\n\t\t\t85,400\n\t\t\t",\n\t\t\t71.6\n\t\t\t
32,\n\t\t\t24\n\t\t\t,\n\t\t\tRedbridge\n\t\t\t,"\n\t\t\t140,700\n\t\t\t",\n\t\t\t71.6\n\t\t\t
33,\n\t\t\t25\n\t\t\t,\n\t\t\tHounslow\n\t\t\t,"\n\t\t\t133,900\n\t\t\t",\n\t\t\t71.5\n\t\t\t
34,\n\t\t\t26\n\t\t\t,\n\t\t\tCamden\n\t\t\t,"\n\t\t\t122,800\n\t\t\t",\n\t\t\t70.2\n\t\t\t
35,\n\t\t\t27\n\t\t\t,\n\t\t\tEnfield\n\t\t\t,"\n\t\t\t150,400\n\t\t\t",\n\t\t\t70.1\n\t\t\t
36,\n\t\t\t28\n\t\t\t,\n\t\t\tNewham\n\t\t\t,"\n\t\t\t164,900\n\t\t\t",\n\t\t\t68.7\n\t\t\t
37,\n\t\t\t29\n\t\t\t,\n\t\t\tWestminster\n\t\t\t,"\n\t\t\t116,800\n\t\t\t",\n\t\t\t68.0\n\t\t\t
38,\n\t\t\t30\n\t\t\t,\n\t\t\tBrent\n\t\t\t,"\n\t\t\t150,500\n\t\t\t",\n\t\t\t67.5\n\t\t\t
39,\n\t\t\t31\n\t\t\t,\n\t\t\tBarking and Dagenham\n\t\t\t,"\n\t\t\t86,000\n\t\t\t",\n\t\t\t65.8\n\t\t\t
40,\n\t\t\t32\n\t\t\t,\n\t\t\tTower Hamlets\n\t\t\t,"\n\t\t\t147,400\n\t\t\t",\n\t\t\t65.3\n\t\t\t
41,\n\t\t\t33\n\t\t\t,\n\t\t\tKensington and Chelsea\n\t\t\t,"\n\t\t\t69,900\n\t\t\t",\n\t\t\t64.5\n\t\t\t

In [42]:
employment.drop(index=[0,1,2,3,4,5,6,7,8],inplace=True)

In [43]:
employment.reset_index(drop=True,inplace=True)
employment.drop(columns=[0],inplace=True)
employment.columns = ['Boroughs','number','percentage']

In [44]:
temp = pd.DataFrame(employment['Boroughs'].str.split('\n\t\t\t',expand=True))
templ = pd.DataFrame(employment['percentage'].str.split('\n\t\t\t',expand=True))

In [45]:
temp = temp[temp.columns[1]]
templ = templ[templ.columns[1]]
employment = pd.DataFrame([temp,templ])

In [46]:
employment

,0,1,2,3,4,5,6,7,8,9,...,23,24,25,26,27,28,29,30,31,32
1,Sutton,City of London,Lambeth,Wandsworth,Bromley,Richmond upon Thames,Havering,Croydon,Merton,Lewisham,...,Redbridge,Hounslow,Camden,Enfield,Newham,Westminster,Brent,Barking and Dagenham,Tower Hamlets,Kensington and Chelsea
1,82.4,82.1,81.9,80.3,79.0,78.9,78.3,77.8,77.8,77.4,...,71.6,71.5,70.2,70.1,68.7,68.0,67.5,65.8,65.3,64.5

In [47]:
employment = employment.transpose()
employment

                         1     1
0                   Sutton  82.4
1           City of London  82.1
2                  Lambeth  81.9
3               Wandsworth  80.3
4                  Bromley  79.0
5     Richmond upon Thames  78.9
6                 Havering  78.3
7                  Croydon  77.8
8                   Merton  77.8
9                 Lewisham  77.4
10  Hammersmith and Fulham  76.2
11                  Bexley  76.0
12          Waltham Forest  75.6
13                  Ealing  75.3
14                Haringey  74.7
15               Southwark  74.6
16              Hillingdon  74.2
17                  Harrow  73.5
18               Greenwich  73.0
19                 Hackney  72.8
20                  Barnet  72.4
21               Islington  72.0
22    Kingston upon Thames  71.6
23               Redbridge  71.6
24                Hounslow  71.5
25                  Camden  70.2
26                 Enfield  70.1
27                  Newham  68.7
28             Westminster  68.0
29                   Brent  67.5
30    Barking and Dagenham  65.8
31           Tower Hamlets  65.3
32  Kensington and Chelsea  64.5

In [48]:
employment.columns=['Boroughs','employment rate']
employment['Boroughs'] = employment['Boroughs'].replace(['City of London'],['City'])
employment

                  Boroughs employment rate
0                   Sutton            82.4
1                     City            82.1
2                  Lambeth            81.9
3               Wandsworth            80.3
4                  Bromley            79.0
5     Richmond upon Thames            78.9
6                 Havering            78.3
7                  Croydon            77.8
8                   Merton            77.8
9                 Lewisham            77.4
10  Hammersmith and Fulham            76.2
11                  Bexley            76.0
12          Waltham Forest            75.6
13                  Ealing            75.3
14                Haringey            74.7
15               Southwark            74.6
16              Hillingdon            74.2
17                  Harrow            73.5
18               Greenwich            73.0
19                 Hackney            72.8
20                  Barnet            72.4
21               Islington            72.0
22    Kingston upon Thames            71.6
23               Redbridge            71.6
24                Hounslow            71.5
25                  Camden            70.2
26                 Enfield            70.1
27                  Newham            68.7
28             Westminster            68.0
29                   Brent            67.5
30    Barking and Dagenham            65.8
31           Tower Hamlets            65.3
32  Kensington and Chelsea            64.5

In [49]:
londonframe = pd.merge(londonframe,employment,on=['Boroughs'])

In [50]:
londonframe

,Location,OSgridref,Boroughs,latitude,longitude,CrimeOccurence,employment rate
0,Abbey Wood,TQ465785,Bexley,51.486484,0.109318,"18,308",76.0
1,Albany Park,TQ478728,Bexley,51.434929,0.125663,"18,308",76.0
2,Barnehurst,TQ505755,Bexley,51.458479,0.165667,"18,308",76.0
3,Barnes Cray,TQ525755,Bexley,51.457944,0.194464,"18,308",76.0
4,Belvedere,TQ495785,Bexley,51.485699,0.152539,"18,308",76.0
...,...,...,...,...,...,...,...
558,South Hackney,TQ355845,Hackney,51.543141,-0.046853,"34,482",72.8
559,Stamford Hill,TQ335875,Hackney,51.570576,-0.074562,"34,482",72.8
560,Stoke Newington,TQ335865,Hackney,51.561590,-0.074942,"34,482",72.8
561,Upper Clapton,TQ345875,Hackney,51.570339,-0.060129,"34,482",72.8
562,West Hackney,TQ340865,Hackney,51.561471,-0.067727,"34,482",72.8

In [51]:
population = pd.read_csv('housing-density-borough.csv')
population

,Code,Name,Year,Source,Population,Inland_Area _Hectares,Total_Area_Hectares,Population_per_hectare,Square_Kilometres,Population_per_square_kilometre
0,E09000001,City of London,1999,ONS MYE,6581,290.4,314.9,22.7,2.9,2266.2
1,E09000001,City of London,2000,ONS MYE,7014,290.4,314.9,24.2,2.9,2415.3
2,E09000001,City of London,2001,ONS MYE,7359,290.4,314.9,25.3,2.9,2534.1
3,E09000001,City of London,2002,ONS MYE,7280,290.4,314.9,25.1,2.9,2506.9
4,E09000001,City of London,2003,ONS MYE,7115,290.4,314.9,24.5,2.9,2450.1
...,...,...,...,...,...,...,...,...,...,...
1867,E13000002,Outer London,2046,GLA Population Projections,6573194,125423.6,126675.6,52.4,1254.2,5240.8
1868,E13000002,Outer London,2047,GLA Population Projections,6598789,125423.6,126675.6,52.6,1254.2,5261.2
1869,E13000002,Outer London,2048,GLA Population Projections,6622921,125423.6,126675.6,52.8,1254.2,5280.4
1870,E13000002,Outer London,2049,GLA Population Projections,6647527,125423.6,126675.6,53.0,1254.2,5300.1
1871,E13000002,Outer London,2050,GLA Population Projections,6671295,125423.6,126675.6,53.2,1254.2,5319.0

In [52]:
pop = population.filter(items=['Name','Population','Year'])

In [53]:
pop.columns = ['Boroughs','Population','Year']
pop['Boroughs'] = pop['Boroughs'].replace(['City of London'],['City'])
pop

          Boroughs  Population  Year
0             City        6581  1999
1             City        7014  2000
2             City        7359  2001
3             City        7280  2002
4             City        7115  2003
...            ...         ...   ...
1867  Outer London     6573194  2046
1868  Outer London     6598789  2047
1869  Outer London     6622921  2048
1870  Outer London     6647527  2049
1871  Outer London     6671295  2050

[1872 rows x 3 columns]

In [54]:
pop = pop[pop['Year']==2019].reset_index(drop=True)

In [55]:
pop.drop(index=[33,34,35],inplace=True)

In [56]:
pop

                  Boroughs  Population  Year
0                     City        7953  2019
1     Barking and Dagenham      214858  2019
2                   Barnet      402363  2019
3                   Bexley      252885  2019
4                    Brent      340710  2019
5                  Bromley      334292  2019
6                   Camden      255526  2019
7                  Croydon      396548  2019
8                   Ealing      354184  2019
9                  Enfield      339480  2019
10               Greenwich      289650  2019
11                 Hackney      286425  2019
12  Hammersmith and Fulham      186075  2019
13                Haringey      285949  2019
14                  Harrow      258861  2019
15                Havering      258655  2019
16              Hillingdon      312567  2019
17                Hounslow      281339  2019
18               Islington      241589  2019
19  Kensington and Chelsea      160531  2019
20    Kingston upon Thames      180598  2019
21                 Lambeth      338028  2019
22                Lewisham      314027  2019
23                  Merton      210452  2019
24                  Newham      359470  2019
25               Redbridge      307690  2019
26    Richmond upon Thames      200703  2019
27               Southwark      327271  2019
28                  Sutton      209666  2019
29           Tower Hamlets      323696  2019
30          Waltham Forest      286776  2019
31              Wandsworth      328828  2019
32             Westminster      258511  2019

In [57]:
lf = 0

In [58]:
pop.sort_values('Boroughs',inplace=True)

In [59]:
pop

                  Boroughs  Population  Year
1     Barking and Dagenham      214858  2019
2                   Barnet      402363  2019
3                   Bexley      252885  2019
4                    Brent      340710  2019
5                  Bromley      334292  2019
6                   Camden      255526  2019
0                     City        7953  2019
7                  Croydon      396548  2019
8                   Ealing      354184  2019
9                  Enfield      339480  2019
10               Greenwich      289650  2019
11                 Hackney      286425  2019
12  Hammersmith and Fulham      186075  2019
13                Haringey      285949  2019
14                  Harrow      258861  2019
15                Havering      258655  2019
16              Hillingdon      312567  2019
17                Hounslow      281339  2019
18               Islington      241589  2019
19  Kensington and Chelsea      160531  2019
20    Kingston upon Thames      180598  2019
21                 Lambeth      338028  2019
22                Lewisham      314027  2019
23                  Merton      210452  2019
24                  Newham      359470  2019
25               Redbridge      307690  2019
26    Richmond upon Thames      200703  2019
27               Southwark      327271  2019
28                  Sutton      209666  2019
29           Tower Hamlets      323696  2019
30          Waltham Forest      286776  2019
31              Wandsworth      328828  2019
32             Westminster      258511  2019

In [60]:
lf = pd.merge(londonframe,pop,on=['Boroughs'])

In [61]:
lf

,Location,OSgridref,Boroughs,latitude,longitude,CrimeOccurence,employment rate,Population,Year
0,Abbey Wood,TQ465785,Bexley,51.486484,0.109318,"18,308",76.0,252885,2019
1,Albany Park,TQ478728,Bexley,51.434929,0.125663,"18,308",76.0,252885,2019
2,Barnehurst,TQ505755,Bexley,51.458479,0.165667,"18,308",76.0,252885,2019
3,Barnes Cray,TQ525755,Bexley,51.457944,0.194464,"18,308",76.0,252885,2019
4,Belvedere,TQ495785,Bexley,51.485699,0.152539,"18,308",76.0,252885,2019
...,...,...,...,...,...,...,...,...,...
558,South Hackney,TQ355845,Hackney,51.543141,-0.046853,"34,482",72.8,286425,2019
559,Stamford Hill,TQ335875,Hackney,51.570576,-0.074562,"34,482",72.8,286425,2019
560,Stoke Newington,TQ335865,Hackney,51.561590,-0.074942,"34,482",72.8,286425,2019
561,Upper Clapton,TQ345875,Hackney,51.570339,-0.060129,"34,482",72.8,286425,2019
562,West Hackney,TQ340865,Hackney,51.561471,-0.067727,"34,482",72.8,286425,2019

In [62]:
np.shape(lf['Boroughs'].unique())

(33,)

In [63]:
for index,row in lf.iterrows():
    lf.iloc[index,5] = row['CrimeOccurence'].replace(',','').replace('/td>','')
lf

,Location,OSgridref,Boroughs,latitude,longitude,CrimeOccurence,employment rate,Population,Year
0,Abbey Wood,TQ465785,Bexley,51.486484,0.109318,18308,76.0,252885,2019
1,Albany Park,TQ478728,Bexley,51.434929,0.125663,18308,76.0,252885,2019
2,Barnehurst,TQ505755,Bexley,51.458479,0.165667,18308,76.0,252885,2019
3,Barnes Cray,TQ525755,Bexley,51.457944,0.194464,18308,76.0,252885,2019
4,Belvedere,TQ495785,Bexley,51.485699,0.152539,18308,76.0,252885,2019
...,...,...,...,...,...,...,...,...,...
558,South Hackney,TQ355845,Hackney,51.543141,-0.046853,34482,72.8,286425,2019
559,Stamford Hill,TQ335875,Hackney,51.570576,-0.074562,34482,72.8,286425,2019
560,Stoke Newington,TQ335865,Hackney,51.561590,-0.074942,34482,72.8,286425,2019
561,Upper Clapton,TQ345875,Hackney,51.570339,-0.060129,34482,72.8,286425,2019
562,West Hackney,TQ340865,Hackney,51.561471,-0.067727,34482,72.8,286425,2019

In [64]:
lf['CrimeRate'] = (lf['CrimeOccurence'].astype('int64')/lf['Population'])*100

In [65]:
lf.drop(columns=['CrimeOccurence','Population','Year'],inplace=True)

In [66]:
lf.reset_index(drop=True,inplace=True)

In [67]:
lf

,Location,OSgridref,Boroughs,latitude,longitude,employment rate,CrimeRate
0,Abbey Wood,TQ465785,Bexley,51.486484,0.109318,76.0,7.239654
1,Albany Park,TQ478728,Bexley,51.434929,0.125663,76.0,7.239654
2,Barnehurst,TQ505755,Bexley,51.458479,0.165667,76.0,7.239654
3,Barnes Cray,TQ525755,Bexley,51.457944,0.194464,76.0,7.239654
4,Belvedere,TQ495785,Bexley,51.485699,0.152539,76.0,7.239654
...,...,...,...,...,...,...,...
558,South Hackney,TQ355845,Hackney,51.543141,-0.046853,72.8,12.038754
559,Stamford Hill,TQ335875,Hackney,51.570576,-0.074562,72.8,12.038754
560,Stoke Newington,TQ335865,Hackney,51.561590,-0.074942,72.8,12.038754
561,Upper Clapton,TQ345875,Hackney,51.570339,-0.060129,72.8,12.038754
562,West Hackney,TQ340865,Hackney,51.561471,-0.067727,72.8,12.038754

In [68]:
price = pd.read_csv('land-registry-house-prices-borough.csv')

In [69]:
price

,Code,Area,Year ending Dec 1995,Year ending Mar 1996,Year ending Jun 1996,Year ending Sep 1996,Year ending Dec 1996,Year ending Mar 1997,Year ending Jun 1997,Year ending Sep 1997,...,Year ending Sep 2015,Year ending Dec 2015,Year ending Mar 2016,Year ending Jun 2016,Year ending Sep 2016,Year ending Dec 2016,Year ending Mar 2017,Year ending Jun 2017,Year ending Sep 2017,Year ending Dec 2017
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,E09000001,City of London,"105,000","112,500","112,375","121,500","124,250","126,503","130,000","130,000",...,"823,750","800,000","795,000","799,750","800,000","831,400","831,400","812,500","835,000","835,000"
2,E09000002,Barking and Dagenham,"49,000","49,995","50,000","49,995","49,995","49,950","50,000","52,000",...,"235,000","245,500","255,000","265,000","277,000","290,000","300,000","302,000","302,000","300,000"
3,E09000003,Barnet,"85,125","85,000","85,000","85,500","87,000","89,500","91,950","95,000",...,"440,000","450,000","455,000","460,000","470,000","476,500","482,951","500,000","512,000","533,500"
4,E09000004,Bexley,"62,000","62,000","63,125","63,500","65,000","67,000","68,500","70,000",...,"271,000","285,000","295,000","310,000","322,000","328,000","330,000","332,000","336,000","342,500"
5,E09000005,Brent,"68,000","69,000","70,000","71,000","73,000","75,000","76,000","80,000",...,"400,000","415,000","425,000","425,000","450,000","445,000","450,000","465,150","475,000","499,950"
6,E09000006,Bromley,"76,625","77,000","77,000","79,500","80,000","81,000","82,500","84,500",...,"365,000","375,000","385,000","399,000","408,000","420,000","425,000","425,000","435,000","440,000"
7,E09000007,Camden,"114,000","112,000","117,000","121,000","127,500","132,950","135,000","140,000",...,"680,750","705,000","740,000","748,550","737,500","735,000","717,500","750,000","768,750","760,000"
8,E09000008,Croydon,"60,000","60,000","61,000","63,000","64,500","65,850","67,000","69,000",...,"295,000","306,000","319,950","325,000","331,000","338,000","345,000","353,595","360,523","365,000"
9,E09000009,Ealing,"75,000","75,000","76,000","78,000","80,000","81,500","83,500","87,000",...,"415,000","432,000","445,000","451,500","460,000","465,000","465,050","475,000","488,000","485,000"
10,E09000010,Enfield,"66,000","65,000","67,000","68,000","69,995","72,000","74,000","76,000",...,"320,000","331,000","350,000","360,000","375,000","385,000","400,000","405,000","400,250","402,500"
11,E09000011,Greenwich,"61,500","60,000","62,000","64,000","64,000","64,000","64,000","64,995",...,"331,550","351,000","365,000","375,000","385,000","395,000","401,000","412,000","420,000","420,000"
12,E09000012,Hackney,"61,975","64,000","64,000","65,000","66,000","67,000","70,000","72,998",...,"461,000","490,000","515,000","521,050","536,209","535,250","530,000","534,500","530,000","530,000"
13,E09000013,Hammersmith and Fulham,"109,500","113,000","115,000","120,000","122,000","123,000","125,000","132,000",...,"729,700","730,000","737,025","742,250","730,000","730,000","740,000","750,000","766,625","777,475"
14,E09000014,Haringey,"66,500","67,000","68,000","70,000","71,850","73,000","75,000","78,000",...,"422,000","439,498","445,000","455,000","460,500","460,000","487,500","505,000","529,250","540,000"
15,E09000015,Harrow,"79,950","80,000","80,000","80,500","82,500","83,950","86,000","90,000",...,"387,000","400,000","415,000","424,950","443,750","460,000","475,000","490,000","500,000","500,000"
16,E09000016,Havering,"66,375","66,998","67,000","67,000","68,500","69,000","70,000","72,500",...,"279,995","287,500","300,000","311,000","325,000","332,000","340,000","345,000","350,000","350,000"
17,E09000017,Hillingdon,"71,000","71,000","71,000","71,500","72,500","74,000","75,000","77,500",...,"339,150","352,250","365,000","375,000","390,000","400,000","409,995","410,000","415,000","415,000"
18,E09000018,Hounslow,"73,000","73,000","73,000","72,825","73,000","73,500","75,000","77,500",...,"340,000","355,000","375,000","387,500","390,000","380,000","380,000","375,000","379,725","395,000"
19,E09000019,Islington,"95,000","95,000","98,500","99,800","102,250","104,000","110,000","115,000",...,"575,500","580,000","590,000","600,000","605,000","620,000","625,000","615,000","617,250","615,000"
20,E09000020,Kensington and Chelsea,"172,750","175,000","180,000","190,000","195,000","200,000","210,000","218,000",...,"1,195,625","1,175,000","1,200,000","1,200,000","1,169,100","1,200,000","1,200,000","1,300,000","1,300,000","1,315,000"
21,E09000021,Kingston upon Thames,"81,000","82,500","84,500","85,248","86,000","88,248","88,500","90,000",...,"400,000","413,500","429,000","440,000","450,000","460,000","472,000","475,000","485,000","487,250"
22,E09000022,Lambeth,"66,000","67,000","69,500","72,000","75,000","76,000","79,500","83,000",...,"450,000","460,000","475,000","493,750","499,950","507,600","510,000","510,000","514,496","518,110"
23,E09000023,Lewisham,"55,500","56,000","56,500","57,000","57,500","59,000","59,995","62,000",...,"348,000","360,000","368,000","380,000","387,325","387,000","394,720","410,000","420,000","430,000"
24,E09000024,Merton,"74,450","75,000","75,000","78,000","80,000","80,000","82,000","83,500",...,"396,500","420,000","440,000","450,000","456,550","450,000","445,000","450,000","457,000","470,000"
25,E09000025,Newham,"46,750","47,000","47,000","48,000","50,000","51,000","52,500","54,995",...,"292,900","310,000","325,000","334,570","340,000","355,000","367,725","380,000","390,000","390,500"
26,E09000026,Redbridge,"67,995","67,250","68,500","69,500","71,000","72,000","73,590","75,000",...,"340,000","350,000","360,000","370,000","380,000","390,000","400,000","410,000","415,000","420,000"
27,E09000027,Richmond upon Thames,"108,000","110,000","111,500","116,500","118,500","120,000","123,000","129,950",...,"565,000","577,750","590,000","599,973","605,000","605,000","610,000","629,950","640,000","650,000"
28,E09000028,Southwark,"71,000","70,000","71,000","72,000","72,625","75,000","78,000","80,500",...,"461,000","475,000","487,500","500,000","500,000","512,750","520,000","529,975","533,500","530,000"
29,E09000029,Sutton,"67,000","66,500","66,500","67,500","69,000","70,000","71,500","73,000",...,"314,250","320,250","330,000","335,000","345,000","347,500","353,500","356,600","359,950","367,000"
30,E09000030,Tower Hamlets,"67,500","67,500","67,000","71,500","77,000","82,500","86,500","89,995",...,"408,500","425,000","440,000","450,000","462,120","470,000","475,000","478,548","485,000","490,000"
31,E09000031,Waltham Forest,"55,000","55,000","55,000","55,000","56,000","57,000","58,500","60,000",...,"360,000","372,000","390,000","400,000","407,000","422,000","430,000","435,000","442,500","445,000"
32,E09000032,Wandsworth,"85,500","87,000","89,500","92,500","94,000","95,000","99,000","104,150",...,"545,000","560,000","589,938","605,000","625,000","644,000","640,000","655,000","658,065","654,000"
33,E09000033,Westminster,"127,550","128,000","128,000","130,000","133,000","138,000","147,000","157,000",...,"876,500","890,000","920,000","950,000","980,000","1,024,500","1,070,000","1,074,150","1,050,000","1,025,000"
34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,E12000001,North East,"42,250","42,500","42,950","43,500","44,500","45,000","45,950","46,500",...,"130,500","132,500","132,000","133,000","133,500","134,950","135,000","135,000","135,000","135,000"
36,E12000002,North West,"45,000","45,000","45,000","45,725","46,250","47,000","47,995","48,500",...,"142,500","145,000","145,000","146,000","148,000","150,000","151,950","152,500","155,000","156,000"
37,E12000003,Yorkshire And The Humber,"45,500","45,500","45,500","46,000","46,500","47,000","47,950","48,500",...,"143,000","145,000","145,000","147,500","149,950","150,000","152,500","154,000","155,000","155,000"
38,E12000004,East Midlands,"45,950","45,995","46,000","46,500","47,450","48,000","49,000","49,950",...,"157,000","160,000","160,000","164,000","165,250","168,000","172,000","175,000","176,500","180,000"
39,E12000005,West Midlands,"49,500","49,500","49,950","50,000","51,000","52,000","53,000","54,000",...,"161,000","164,000","164,995","165,500","168,000","170,000","174,995","175,000","178,000","180,000"
40,E12000006,East of England,"57,500","57,000","57,000","58,000","58,800","59,500","60,000","61,995",...,"230,000","238,000","240,000","247,000","250,000","258,000","265,000","270,000","275,000","277,000"
41,E12000007,London,"72,750","73,000","74,000","75,000","77,000","79,000","80,950","83,500",...,"390,000","400,000","418,000","426,000","435,000","442,000","445,000","450,000","460,000","465,000"
42,E12000008,South East,"65,000","65,250","66,000","67,500","68,500","69,500","70,950","72,500",...,"265,000","273,500","279,000","285,000","290,000","295,500","302,000","306,000","310,000","315,000"
43,E12000009,South West,"55,000","55,000","55,500","56,500","57,250","58,000","59,000","59,950",...,"212,000","216,000","219,000","221,860","225,000","229,950","234,069","235,000","240,000","242,500"
44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,E92000001,England,"55,000","55,000","55,385","56,500","57,500","58,000","59,500","59,995",...,"209,500","212,500","215,000","219,995","220,000","224,950","225,000","229,950","230,000","234,000"
46,W92000004,Wales,"44,000","44,000","44,500","45,000","45,000","45,500","46,500","47,000",...,"142,750","144,950","145,000","146,500","148,000","149,000","150,000","150,000","150,000","151,000"
47,K04000001,England And Wales,"54,950","54,950","55,000","55,995","57,000","57,750","58,999","59,950",...,"204,000","208,000","210,000","215,000","215,000","219,950","220,000","224,000","225,000","227,722"
48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [70]:
houseprice = price.filter(items=['Area','Year ending Dec 2017'])

In [71]:
houseprice['Area'] = houseprice['Area'].replace(['City of London'],['City'])

In [72]:
houseprice = houseprice[houseprice['Area'].isin(Filter)]

In [73]:
houseprice

                      Area Year ending Dec 2017
1                     City              835,000
2     Barking and Dagenham              300,000
3                   Barnet              533,500
4                   Bexley              342,500
5                    Brent              499,950
6                  Bromley              440,000
7                   Camden              760,000
8                  Croydon              365,000
9                   Ealing              485,000
10                 Enfield              402,500
11               Greenwich              420,000
12                 Hackney              530,000
13  Hammersmith and Fulham              777,475
14                Haringey              540,000
15                  Harrow              500,000
16                Havering              350,000
17              Hillingdon              415,000
18                Hounslow              395,000
19               Islington              615,000
20  Kensington and Chelsea            1,315,000
21    Kingston upon Thames              487,250
22                 Lambeth              518,110
23                Lewisham              430,000
24                  Merton              470,000
25                  Newham              390,500
26               Redbridge              420,000
27    Richmond upon Thames              650,000
28               Southwark              530,000
29                  Sutton              367,000
30           Tower Hamlets              490,000
31          Waltham Forest              445,000
32              Wandsworth              654,000
33             Westminster            1,025,000

In [74]:
houseprice.reset_index(drop=True,inplace=True)

In [75]:
houseprice.columns=['Boroughs','Avg_house_price']
lf = pd.merge(lf,houseprice,on=['Boroughs'])

In [76]:
np.shape(lf['Boroughs'].unique())

(33,)

In [77]:
url = 'https://en.wikipedia.org/wiki/List_of_London_boroughs'
response = request.urlopen(url)
soup = BeautifulSoup(response)
response.close()

In [78]:
table = soup.findAll('table',attrs={'class':'wikitable sortable'})[0]
table_data = [[cell.text for cell in row("td")]
                         for row in table("tr")]
table2= soup.findAll('table',attrs={'class':'wikitable sortable'})[1]
table_data2 = [[cell.text for cell in row("td")]
                         for row in table2("tr")]

In [79]:
del table_data[0]
del table_data2[0]

In [80]:
binfo = pd.DataFrame(table_data)
cinfo = pd.DataFrame(table_data2)
binfo

,0,1,2,3,4,5,6,7,8,9
0,Barking and Dagenham [note 1]\n,\n,\n,Barking and Dagenham London Borough Council\n,Labour\n,"Town Hall, 1 Town Square\n",13.93\n,"194,352\n",51°33′39″N 0°09′21″E﻿ / ﻿51.5607°N 0.1557°E﻿ /...,25\n
1,Barnet\n,\n,\n,Barnet London Borough Council\n,Conservative\n,"Barnet House, 2 Bristol Avenue, Colindale\n",33.49\n,"369,088\n",51°37′31″N 0°09′06″W﻿ / ﻿51.6252°N 0.1517°W﻿ /...,31\n
2,Bexley\n,\n,\n,Bexley London Borough Council\n,Conservative\n,"Civic Offices, 2 Watling Street\n",23.38\n,"236,687\n",51°27′18″N 0°09′02″E﻿ / ﻿51.4549°N 0.1505°E﻿ /...,23\n
3,Brent\n,\n,\n,Brent London Borough Council\n,Labour\n,"Brent Civic Centre, Engineers Way\n",16.70\n,"317,264\n",51°33′32″N 0°16′54″W﻿ / ﻿51.5588°N 0.2817°W﻿ /...,12\n
4,Bromley\n,\n,\n,Bromley London Borough Council\n,Conservative\n,"Civic Centre, Stockwell Close\n",57.97\n,"317,899\n",51°24′14″N 0°01′11″E﻿ / ﻿51.4039°N 0.0198°E﻿ /...,20\n
5,Camden\n,Y\n,\n,Camden London Borough Council\n,Labour\n,"Camden Town Hall, Judd Street\n",8.40\n,"229,719\n",51°31′44″N 0°07′32″W﻿ / ﻿51.5290°N 0.1255°W﻿ /...,11\n
6,Croydon\n,\n,\n,Croydon London Borough Council\n,Labour\n,"Bernard Weatherill House, Mint Walk\n",33.41\n,"372,752\n",51°22′17″N 0°05′52″W﻿ / ﻿51.3714°N 0.0977°W﻿ /...,19\n
7,Ealing\n,\n,\n,Ealing London Borough Council\n,Labour\n,"Perceval House, 14-16 Uxbridge Road\n",21.44\n,"342,494\n",51°30′47″N 0°18′32″W﻿ / ﻿51.5130°N 0.3089°W﻿ /...,13\n
8,Enfield\n,\n,\n,Enfield London Borough Council\n,Labour\n,"Civic Centre, Silver Street\n",31.74\n,"320,524\n",51°39′14″N 0°04′48″W﻿ / ﻿51.6538°N 0.0799°W﻿ /...,30\n
9,Greenwich [note 2]\n,Y [note 3]\n,Royal\n,Greenwich London Borough Council\n,Labour\n,"Woolwich Town Hall, Wellington Street\n",18.28\n,"264,008\n",51°29′21″N 0°03′53″E﻿ / ﻿51.4892°N 0.0648°E﻿ /...,22\n
10,Hackney\n,Y\n,\n,Hackney London Borough Council\n,Labour\n,"Hackney Town Hall, Mare Street\n",7.36\n,"257,379\n",51°32′42″N 0°03′19″W﻿ / ﻿51.5450°N 0.0553°W﻿ /...,9\n
11,Hammersmith and Fulham [note 4]\n,Y\n,\n,Hammersmith and Fulham London Borough Council\n,Labour\n,"Town Hall, King Street\n",6.33\n,"178,685\n",51°29′34″N 0°14′02″W﻿ / ﻿51.4927°N 0.2339°W﻿ /...,4\n
12,Haringey\n,[note 3]\n,\n,Haringey London Borough Council\n,Labour\n,"Civic Centre, High Road\n",11.42\n,"263,386\n",51°36′00″N 0°06′43″W﻿ / ﻿51.6000°N 0.1119°W﻿ /...,29\n
13,Harrow\n,\n,\n,Harrow London Borough Council\n,Labour\n,"Civic Centre, Station Road\n",19.49\n,"243,372\n",51°35′23″N 0°20′05″W﻿ / ﻿51.5898°N 0.3346°W﻿ /...,32\n
14,Havering\n,\n,\n,Havering London Borough Council\n,Conservative (council NOC)\n,"Town Hall, Main Road\n",43.35\n,"242,080\n",51°34′52″N 0°11′01″E﻿ / ﻿51.5812°N 0.1837°E﻿ /...,24\n
15,Hillingdon\n,\n,\n,Hillingdon London Borough Council\n,Conservative\n,"Civic Centre, High Street\n",44.67\n,"286,806\n",51°32′39″N 0°28′34″W﻿ / ﻿51.5441°N 0.4760°W﻿ /...,33\n
16,Hounslow\n,\n,\n,Hounslow London Borough Council\n,Labour\n,"Hounslow House, 7 Bath Road\n",21.61\n,"262,407\n",51°28′29″N 0°22′05″W﻿ / ﻿51.4746°N 0.3680°W﻿ /...,14\n
17,Islington\n,Y\n,\n,Islington London Borough Council\n,Labour\n,"Customer Centre, 222 Upper Street\n",5.74\n,"215,667\n",51°32′30″N 0°06′08″W﻿ / ﻿51.5416°N 0.1022°W﻿ /...,10\n
18,Kensington and Chelsea\n,Y\n,Royal\n,Kensington and Chelsea London Borough Council\n,Conservative\n,"The Town Hall, Hornton Street\n",4.68\n,"155,594\n",51°30′07″N 0°11′41″W﻿ / ﻿51.5020°N 0.1947°W﻿ /...,3\n
19,Kingston upon Thames\n,\n,Royal\n,Kingston upon Thames London Borough Council\n,Liberal Democrat\n,"Guildhall, High Street\n",14.38\n,"166,793\n",51°24′31″N 0°18′23″W﻿ / ﻿51.4085°N 0.3064°W﻿ /...,16\n
20,Lambeth\n,Y\n,\n,Lambeth London Borough Council\n,Labour\n,"Lambeth Town Hall, Brixton Hill\n",10.36\n,"314,242\n",51°27′39″N 0°06′59″W﻿ / ﻿51.4607°N 0.1163°W﻿ /...,6\n
21,Lewisham\n,Y\n,\n,Lewisham London Borough Council\n,Labour\n,"Town Hall, 1 Catford Road\n",13.57\n,"286,180\n",51°26′43″N 0°01′15″W﻿ / ﻿51.4452°N 0.0209°W﻿ /...,21\n
22,Merton\n,\n,\n,Merton London Borough Council\n,Labour\n,"Civic Centre, London Road\n",14.52\n,"203,223\n",51°24′05″N 0°11′45″W﻿ / ﻿51.4014°N 0.1958°W﻿ /...,17\n
23,Newham\n,[note 3]\n,\n,Newham London Borough Council\n,Labour\n,"Newham Dockside, 1000 Dockside Road\n",13.98\n,"318,227\n",51°30′28″N 0°02′49″E﻿ / ﻿51.5077°N 0.0469°E﻿ /...,27\n
24,Redbridge\n,\n,\n,Redbridge London Borough Council\n,Labour\n,"Town Hall, 128-142 High Road\n",21.78\n,"288,272\n",51°33′32″N 0°04′27″E﻿ / ﻿51.5590°N 0.0741°E﻿ /...,26\n
25,Richmond upon Thames\n,\n,\n,Richmond upon Thames London Borough Council\n,Liberal Democrat\n,"Civic Centre, 44 York Street\n",22.17\n,"191,365\n",51°26′52″N 0°19′34″W﻿ / ﻿51.4479°N 0.3260°W﻿ /...,15\n
26,Southwark\n,Y\n,\n,Southwark London Borough Council\n,Labour\n,160 Tooley Street\n,11.14\n,"298,464\n",51°30′13″N 0°04′49″W﻿ / ﻿51.5035°N 0.0804°W﻿ /...,7\n
27,Sutton\n,\n,\n,Sutton London Borough Council\n,Liberal Democrat\n,"Civic Offices, St Nicholas Way\n",16.93\n,"195,914\n",51°21′42″N 0°11′40″W﻿ / ﻿51.3618°N 0.1945°W﻿ /...,18\n
28,Tower Hamlets\n,Y\n,\n,Tower Hamlets London Borough Council\n,Labour\n,"Town Hall, Mulberry Place, 5 Clove Crescent\n",7.63\n,"272,890\n",51°30′36″N 0°00′21″W﻿ / ﻿51.5099°N 0.0059°W﻿ /...,8\n
29,Waltham Forest\n,\n,\n,Waltham Forest London Borough Council\n,Labour\n,"Waltham Forest Town Hall, Forest Road\n",14.99\n,"265,797\n",51°35′27″N 0°00′48″W﻿ / ﻿51.5908°N 0.0134°W﻿ /...,28\n
30,Wandsworth\n,Y\n,\n,Wandsworth London Borough Council\n,Conservative\n,"The Town Hall, Wandsworth High Street\n",13.23\n,"310,516\n",51°27′24″N 0°11′28″W﻿ / ﻿51.4567°N 0.1910°W﻿ /...,5\n
31,Westminster\n,Y\n,City\n,Westminster City Council\n,Conservative\n,"Westminster City Hall, 64 Victoria Street\n",8.29\n,"226,841\n",51°29′50″N 0°08′14″W﻿ / ﻿51.4973°N 0.1372°W﻿ /...,2\n

In [81]:
binfo = binfo.filter(items=[0,6])
cinfo = cinfo.filter(items=[0,6])

In [82]:
binfo.columns = ['Boroughs','Area(sqmi)']
cinfo.columns = ['Boroughs','Area(sqmi)']

In [83]:
cinfo

           Boroughs Area(sqmi)
0  City of London\n     1.12\n

In [84]:
binfo = binfo.append(cinfo)
binfo

                             Boroughs Area(sqmi)
0     Barking and Dagenham [note 1]\n    13.93\n
1                            Barnet\n    33.49\n
2                            Bexley\n    23.38\n
3                             Brent\n    16.70\n
4                           Bromley\n    57.97\n
5                            Camden\n     8.40\n
6                           Croydon\n    33.41\n
7                            Ealing\n    21.44\n
8                           Enfield\n    31.74\n
9               Greenwich  [note 2]\n    18.28\n
10                          Hackney\n     7.36\n
11  Hammersmith and Fulham [note 4]\n     6.33\n
12                         Haringey\n    11.42\n
13                           Harrow\n    19.49\n
14                         Havering\n    43.35\n
15                       Hillingdon\n    44.67\n
16                         Hounslow\n    21.61\n
17                        Islington\n     5.74\n
18           Kensington and Chelsea\n     4.68\n
19             Kingston upon Thames\n    14.38\n
20                          Lambeth\n    10.36\n
21                         Lewisham\n    13.57\n
22                           Merton\n    14.52\n
23                           Newham\n    13.98\n
24                        Redbridge\n    21.78\n
25             Richmond upon Thames\n    22.17\n
26                        Southwark\n    11.14\n
27                           Sutton\n    16.93\n
28                    Tower Hamlets\n     7.63\n
29                   Waltham Forest\n    14.99\n
30                       Wandsworth\n    13.23\n
31                      Westminster\n     8.29\n
0                    City of London\n     1.12\n

In [85]:
binfo.reset_index(inplace=True,drop=True)

In [86]:
binfo['Boroughs'] = binfo['Boroughs'].str.rstrip('\n')
binfo['Area(sqmi)'] = binfo['Area(sqmi)'].str.rstrip('\n')
binfo

                           Boroughs Area(sqmi)
0     Barking and Dagenham [note 1]      13.93
1                            Barnet      33.49
2                            Bexley      23.38
3                             Brent      16.70
4                           Bromley      57.97
5                            Camden       8.40
6                           Croydon      33.41
7                            Ealing      21.44
8                           Enfield      31.74
9               Greenwich  [note 2]      18.28
10                          Hackney       7.36
11  Hammersmith and Fulham [note 4]       6.33
12                         Haringey      11.42
13                           Harrow      19.49
14                         Havering      43.35
15                       Hillingdon      44.67
16                         Hounslow      21.61
17                        Islington       5.74
18           Kensington and Chelsea       4.68
19             Kingston upon Thames      14.38
20                          Lambeth      10.36
21                         Lewisham      13.57
22                           Merton      14.52
23                           Newham      13.98
24                        Redbridge      21.78
25             Richmond upon Thames      22.17
26                        Southwark      11.14
27                           Sutton      16.93
28                    Tower Hamlets       7.63
29                   Waltham Forest      14.99
30                       Wandsworth      13.23
31                      Westminster       8.29
32                   City of London       1.12

In [87]:
binfo['Boroughs'] = binfo['Boroughs'].replace(['Barking and Dagenham [note 1]'],['Barking and Dagenham']).replace(['Greenwich  [note 2]'],['Greenwich']).replace(['Hammersmith and Fulham [note 4]'],['Hammersmith and Fulham'])

In [88]:
binfo['Boroughs'] = binfo['Boroughs'].replace(['City of London'],['City'])
binfo.sort_values(['Boroughs'],inplace=True)
binfo.reset_index(drop=True,inplace=True)

In [89]:
binfo

                  Boroughs Area(sqmi)
0     Barking and Dagenham      13.93
1                   Barnet      33.49
2                   Bexley      23.38
3                    Brent      16.70
4                  Bromley      57.97
5                   Camden       8.40
6                     City       1.12
7                  Croydon      33.41
8                   Ealing      21.44
9                  Enfield      31.74
10               Greenwich      18.28
11                 Hackney       7.36
12  Hammersmith and Fulham       6.33
13                Haringey      11.42
14                  Harrow      19.49
15                Havering      43.35
16              Hillingdon      44.67
17                Hounslow      21.61
18               Islington       5.74
19  Kensington and Chelsea       4.68
20    Kingston upon Thames      14.38
21                 Lambeth      10.36
22                Lewisham      13.57
23                  Merton      14.52
24                  Newham      13.98
25               Redbridge      21.78
26    Richmond upon Thames      22.17
27               Southwark      11.14
28                  Sutton      16.93
29           Tower Hamlets       7.63
30          Waltham Forest      14.99
31              Wandsworth      13.23
32             Westminster       8.29

In [90]:
for index,row in binfo.iterrows():
    if(row['Boroughs']!=sorted(Filter)[index]):
        print(len(row['Boroughs']),len(sorted(Filter)[index]))

In [91]:
flf=pd.merge(lf,binfo,on=['Boroughs'])
flf

,Location,OSgridref,Boroughs,latitude,longitude,employment rate,CrimeRate,Avg_house_price,Area(sqmi)
0,Abbey Wood,TQ465785,Bexley,51.486484,0.109318,76.0,7.239654,"342,500",23.38
1,Albany Park,TQ478728,Bexley,51.434929,0.125663,76.0,7.239654,"342,500",23.38
2,Barnehurst,TQ505755,Bexley,51.458479,0.165667,76.0,7.239654,"342,500",23.38
3,Barnes Cray,TQ525755,Bexley,51.457944,0.194464,76.0,7.239654,"342,500",23.38
4,Belvedere,TQ495785,Bexley,51.485699,0.152539,76.0,7.239654,"342,500",23.38
...,...,...,...,...,...,...,...,...,...
558,South Hackney,TQ355845,Hackney,51.543141,-0.046853,72.8,12.038754,"530,000",7.36
559,Stamford Hill,TQ335875,Hackney,51.570576,-0.074562,72.8,12.038754,"530,000",7.36
560,Stoke Newington,TQ335865,Hackney,51.561590,-0.074942,72.8,12.038754,"530,000",7.36
561,Upper Clapton,TQ345875,Hackney,51.570339,-0.060129,72.8,12.038754,"530,000",7.36
562,West Hackney,TQ340865,Hackney,51.561471,-0.067727,72.8,12.038754,"530,000",7.36

In [92]:
np.shape(flf['Boroughs'].unique())

(33,)

In [93]:
CLIENT_ID = 'SECRETCLIENT_SECRET = 'SECRETVERSION = '20180605'

In [94]:
radius=500
lat = flf.iloc[0,3]
lng = flf.iloc[0,4]
url =  'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}'.format(CLIENT_ID, CLIENT_SECRET, VERSION, lat, lng, radius)

results = requests.get(url).json()
results

{'meta': {'code': 200, 'requestId': '5f2ba6fb99578521cc315733'},
 'response': {'headerLocation': 'Abbey Wood',
  'headerFullLocation': 'Abbey Wood, London',
  'headerLocationGranularity': 'neighborhood',
  'totalResults': 5,
  'suggestedBounds': {'ne': {'lat': 51.49098354190194,
    'lng': 0.11653100512592866},
   'sw': {'lat': 51.481983532901936, 'lng': 0.10210477116065415}},
  'groups': [{'type': 'Recommended Places',
    'name': 'recommended',
    'items': [{'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4bf181d61f17ef3bfcf59bc8',
       'name': 'Co-op Food',
       'location': {'address': '103-116 Mcleod Rd',
        'lat': 51.48764979256399,
        'lng': 0.11348962783813477,
        'labeledLatLngs': [{'label': 'display',
          'lat': 51.48764979256399,
          'lng': 0.11348962783813477}],
        'distance': 316,
        'postalCode': 'SE2 0BS',
        'cc': 'GB',
        'city': 'Abbey Wood',
        'state': 'Greater London',
        'country': 'United Kingdom',
        'formattedAddress': ['103-116 Mcleod Rd',
         'Abbey Wood',
         'Greater London',
         'SE2 0BS',
         'United Kingdom']},
       'categories': [{'id': '4bf58dd8d48988d118951735',
         'name': 'Grocery Store',
         'pluralName': 'Grocery Stores',
         'shortName': 'Grocery Store',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/shops/food_grocery_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4bf181d61f17ef3bfcf59bc8-0'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4bd315449854d13af6cffc4d',
       'name': 'Bostal Gardens',
       'location': {'lat': 51.4866697860935,
        'lng': 0.11046211395875472,
        'labeledLatLngs': [{'label': 'display',
          'lat': 51.4866697860935,
          'lng': 0.11046211395875472}],
        'distance': 81,
        'postalCode': 'SE2',
        'cc': 'GB',
        'city': 'Eltham',
        'state': 'Greater London',
        'country': 'United Kingdom',
        'formattedAddress': ['Eltham',
         'Greater London',
         ' SE2',
         'United Kingdom']},
       'categories': [{'id': '4bf58dd8d48988d1e7941735',
         'name': 'Playground',
         'pluralName': 'Playgrounds',
         'shortName': 'Playground',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/parks_outdoors/playground_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4bd315449854d13af6cffc4d-1'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '53346d1f498e612d26c5a65a',
       'name': 'Othalias Security Services U K',
       'location': {'address': 'Bastion Road',
        'crossStreet': 'Bastion Road',
        'lat': 51.48352095330697,
        'lng': 0.10546445846557617,
        'labeledLatLngs': [{'label': 'display',
          'lat': 51.48352095330697,
          'lng': 0.10546445846557617}],
        'distance': 424,
        'postalCode': 'SE2 0RG',
        'cc': 'GB',
        'city': 'Abbey Wood',
        'state': 'Greater London',
        'country': 'United Kingdom',
        'formattedAddress': ['Bastion Road (Bastion Road)',
         'Abbey Wood',
         'Greater London',
         'SE2 0RG',
         'United Kingdom']},
       'categories': [{'id': '52f2ab2ebcbc57f1066b8b36',
         'name': 'IT Services',
         'pluralName': 'IT Services',
         'shortName': 'IT Services',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/shops/technology_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-53346d1f498e612d26c5a65a-2'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '58bd05cd3f5a5c1c89dc530f',
       'name': "Morley's",
       'location': {'address': '311 Plumstead High St',
        'lat': 51.48561,
        'lng': 0.102388635,
        'labeledLatLngs': [{'label': 'display',
          'lat': 51.48561,
          'lng': 0.102388635}],
        'distance': 490,
        'postalCode': 'SE18 1JX',
        'cc': 'GB',
        'city': 'London',
        'state': 'Greater London',
        'country': 'United Kingdom',
        'formattedAddress': ['311 Plumstead High St',
         'London',
         'Greater London',
         'SE18 1JX',
         'United Kingdom']},
       'categories': [{'id': '4d4ae6fc7a7b7dea34424761',
         'name': 'Fried Chicken Joint',
         'pluralName': 'Fried Chicken Joints',
         'shortName': 'Fried Chicken',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/friedchicken_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-58bd05cd3f5a5c1c89dc530f-3'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4d3f34fd1bd2a1436d51e67c',
       'name': 'East Ocean',
       'location': {'address': '7 Wickham Ln.',
        'crossStreet': 'at Plumstead High St.',
        'lat': 51.485279,
        'lng': 0.102426,
        'labeledLatLngs': [{'label': 'display',
          'lat': 51.485279,
          'lng': 0.102426}],
        'distance': 496,
        'postalCode': 'SE2 0XJ',
        'cc': 'GB',
        'city': 'Plumstead',
        'state': 'Greater London',
        'country': 'United Kingdom',
        'formattedAddress': ['7 Wickham Ln. (at Plumstead High St.)',
         'Plumstead',
         'Greater London',
         'SE2 0XJ',
         'United Kingdom']},
       'categories': [{'id': '4bf58dd8d48988d145941735',
         'name': 'Chinese Restaurant',
         'pluralName': 'Chinese Restaurants',
         'shortName': 'Chinese',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/asian_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4d3f34fd1bd2a1436d51e67c-4'}]}]}}

In [95]:
venues = results['response']['groups'][0]['items']
name = results['response']['headerLocation']
nearby_venues1 = json_normalize(venues)
nearby_venues1
print(name)
nearby_venues1

Abbey Wood

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:3: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  This is separate from the ipykernel package so we can avoid doing imports until

,referralId,reasons.count,reasons.items,venue.id,venue.name,venue.location.address,venue.location.lat,venue.location.lng,venue.location.labeledLatLngs,venue.location.distance,venue.location.postalCode,venue.location.cc,venue.location.city,venue.location.state,venue.location.country,venue.location.formattedAddress,venue.categories,venue.photos.count,venue.photos.groups,venue.location.crossStreet
0,e-0-4bf181d61f17ef3bfcf59bc8-0,0,"[{'summary': 'This spot is popular', 'type': '...",4bf181d61f17ef3bfcf59bc8,Co-op Food,103-116 Mcleod Rd,51.487650,0.113490,"[{'label': 'display', 'lat': 51.48764979256399...",316,SE2 0BS,GB,Abbey Wood,Greater London,United Kingdom,"[103-116 Mcleod Rd, Abbey Wood, Greater London...","[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",0,[],NaN
1,e-0-4bd315449854d13af6cffc4d-1,0,"[{'summary': 'This spot is popular', 'type': '...",4bd315449854d13af6cffc4d,Bostal Gardens,NaN,51.486670,0.110462,"[{'label': 'display', 'lat': 51.4866697860935,...",81,SE2,GB,Eltham,Greater London,United Kingdom,"[Eltham, Greater London, SE2, United Kingdom]","[{'id': '4bf58dd8d48988d1e7941735', 'name': 'P...",0,[],NaN
2,e-0-53346d1f498e612d26c5a65a-2,0,"[{'summary': 'This spot is popular', 'type': '...",53346d1f498e612d26c5a65a,Othalias Security Services U K,Bastion Road,51.483521,0.105464,"[{'label': 'display', 'lat': 51.48352095330697...",424,SE2 0RG,GB,Abbey Wood,Greater London,United Kingdom,"[Bastion Road (Bastion Road), Abbey Wood, Grea...","[{'id': '52f2ab2ebcbc57f1066b8b36', 'name': 'I...",0,[],Bastion Road
3,e-0-58bd05cd3f5a5c1c89dc530f-3,0,"[{'summary': 'This spot is popular', 'type': '...",58bd05cd3f5a5c1c89dc530f,Morley's,311 Plumstead High St,51.485610,0.102389,"[{'label': 'display', 'lat': 51.48561, 'lng': ...",490,SE18 1JX,GB,London,Greater London,United Kingdom,"[311 Plumstead High St, London, Greater London...","[{'id': '4d4ae6fc7a7b7dea34424761', 'name': 'F...",0,[],NaN
4,e-0-4d3f34fd1bd2a1436d51e67c-4,0,"[{'summary': 'This spot is popular', 'type': '...",4d3f34fd1bd2a1436d51e67c,East Ocean,7 Wickham Ln.,51.485279,0.102426,"[{'label': 'display', 'lat': 51.485279, 'lng':...",496,SE2 0XJ,GB,Plumstead,Greater London,United Kingdom,"[7 Wickham Ln. (at Plumstead High St.), Plumst...","[{'id': '4bf58dd8d48988d145941735', 'name': 'C...",0,[],at Plumstead High St.

In [96]:
filtered_columns = ['venue.name', 'venue.categories', 'venue.location.lat', 'venue.location.lng']
nearby_venues1 =nearby_venues1.loc[:, filtered_columns]
nearby_venues1['Location'] = name

In [97]:
nearby_venues1

,venue.name,venue.categories,venue.location.lat,venue.location.lng,Location
0,Co-op Food,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",51.487650,0.113490,Abbey Wood
1,Bostal Gardens,"[{'id': '4bf58dd8d48988d1e7941735', 'name': 'P...",51.486670,0.110462,Abbey Wood
2,Othalias Security Services U K,"[{'id': '52f2ab2ebcbc57f1066b8b36', 'name': 'I...",51.483521,0.105464,Abbey Wood
3,Morley's,"[{'id': '4d4ae6fc7a7b7dea34424761', 'name': 'F...",51.485610,0.102389,Abbey Wood
4,East Ocean,"[{'id': '4bf58dd8d48988d145941735', 'name': 'C...",51.485279,0.102426,Abbey Wood

In [98]:
def get_category_type(row):
    try:
        categories_list = row['categories']
    except:
        categories_list = row['venue.categories']
        
    if len(categories_list) == 0:
        return None
    else:
        return categories_list[0]['name']

In [99]:
nearby_venues1['venue.categories'] = nearby_venues1.apply(get_category_type, axis=1)

In [100]:
nearby_venues1

,venue.name,venue.categories,venue.location.lat,venue.location.lng,Location
0,Co-op Food,Grocery Store,51.487650,0.113490,Abbey Wood
1,Bostal Gardens,Playground,51.486670,0.110462,Abbey Wood
2,Othalias Security Services U K,IT Services,51.483521,0.105464,Abbey Wood
3,Morley's,Fried Chicken Joint,51.485610,0.102389,Abbey Wood
4,East Ocean,Chinese Restaurant,51.485279,0.102426,Abbey Wood

In [101]:
def getNearbyVenues(names, latitudes, longitudes, radius=500):
    count = 0
    oops=0
    nearby_venues = pd.DataFrame()
    total_venues = pd.DataFrame()
    for name, laty, lngy in zip(names, latitudes, longitudes):
        
        venues_list = 0
        totalvenues = pd.DataFrame()
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            laty, 
            lngy, 
            radius)
        results = requests.get(url).json()
        print(count,flush=True)
        if (results['response']['totalResults']!=0):
            venuesn = results['response']['groups'][0]['items']
            venues_list = pd.json_normalize(venuesn)
            venues_list['Boroughs'] = name
            totalvenues['Boroughs'] = [name]
            totalvenues['TotalVenues'] = [results['response']['totalResults']]
            filtered_columns = ['Boroughs','venue.name', 'venue.categories']
            nearby_venues = nearby_venues.append([venues_list.loc[:,filtered_columns]])
            total_venues = total_venues.append([totalvenues])
        else:
            oops = oops+1
        count = count+1
        
    nearby_venues['venue.categories'] = nearby_venues.apply(get_category_type, axis=1)
    nearby_venues.columns = [col.split(".")[-1] for col in nearby_venues.columns]
    return(nearby_venues,total_venues,oops)

In [102]:
lfvenues,total_venues,oops=getNearbyVenues(names=flf['Boroughs'],latitudes=flf['latitude'],longitudes=flf['longitude'])

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562

In [103]:
lfvenues

   Boroughs                            name           categories
0    Bexley                      Co-op Food        Grocery Store
1    Bexley                  Bostal Gardens           Playground
2    Bexley  Othalias Security Services U K          IT Services
3    Bexley                        Morley's  Fried Chicken Joint
4    Bexley                      East Ocean   Chinese Restaurant
..      ...                             ...                  ...
25  Hackney                        Chumleys       Breakfast Spot
26  Hackney                            Itto     Asian Restaurant
27  Hackney                       Jan's bar                  Bar
28  Hackney                    Franco Manca          Pizza Place
29  Hackney                            Fuji  Japanese Restaurant

[8066 rows x 3 columns]

In [104]:
print(oops)
total_venues

4

   Boroughs  TotalVenues
0    Bexley            5
0    Bexley            4
0    Bexley            7
0    Bexley            3
0    Bexley           17
..      ...          ...
0   Hackney           14
0   Hackney            9
0   Hackney           44
0   Hackney            8
0   Hackney           40

[559 rows x 2 columns]

In [105]:
total_venues.reset_index(drop=True,inplace=True)

In [106]:
london_onehot = pd.get_dummies(lfvenues[['categories']],prefix="",prefix_sep="")
london_onehot['Boroughs'] = lfvenues['Boroughs'] 
fixed_columns = list(london_onehot.columns[:])
fixed_columns.remove('Boroughs')
fixed_columns.insert(0,'Boroughs')
london_onehot = london_onehot[fixed_columns]

In [107]:
print(np.shape(london_onehot['Boroughs'].unique()))
london_onehot

(33,)

,Boroughs,Accessories Store,Afghan Restaurant,African Restaurant,Airport,Airport Lounge,Airport Service,American Restaurant,Antique Shop,Arepa Restaurant,...,Windmill,Wine Bar,Wine Shop,Wings Joint,Women's Store,Xinjiang Restaurant,Yakitori Restaurant,Yoga Studio,Zoo,Zoo Exhibit
0,Bexley,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Bexley,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Bexley,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Bexley,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Bexley,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25,Hackney,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,Hackney,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,Hackney,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28,Hackney,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,Hackney,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [108]:
london_grouped = london_onehot.groupby('Boroughs').mean()
london_grouped['Boroughs'] = london_grouped.index
london_grouped = london_grouped[fixed_columns]
london_grouped.reset_index(drop=True,inplace=True)
london_grouped

,Boroughs,Accessories Store,Afghan Restaurant,African Restaurant,Airport,Airport Lounge,Airport Service,American Restaurant,Antique Shop,Arepa Restaurant,...,Windmill,Wine Bar,Wine Shop,Wings Joint,Women's Store,Xinjiang Restaurant,Yakitori Restaurant,Yoga Studio,Zoo,Zoo Exhibit
0,Barking and Dagenham,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,Barnet,0.00000,0.002703,0.000000,0.000000,0.000000,0.000000,0.002703,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.005405,0.000000,0.000000
2,Bexley,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.009709,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,Brent,0.00000,0.003690,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00369,0.000000,0.000000,0.000000,0.011070,0.000000,0.000000
4,Bromley,0.00000,0.000000,0.000000,0.003401,0.000000,0.006803,0.003401,0.000000,0.000000,...,0.000000,0.000000,0.006803,0.00000,0.000000,0.000000,0.000000,0.003401,0.000000,0.000000
5,Camden,0.00000,0.003431,0.001715,0.000000,0.000000,0.000000,0.001715,0.000000,0.000000,...,0.000000,0.005146,0.003431,0.00000,0.000000,0.000000,0.000000,0.005146,0.001715,0.010292
6,City,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.006667,0.000000,0.000000,...,0.000000,0.026667,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
7,Croydon,0.00000,0.000000,0.006250,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
8,Ealing,0.00000,0.006250,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.006250,0.006250,0.00000,0.000000,0.000000,0.000000,0.006250,0.000000,0.000000
9,Enfield,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.006667,0.000000,0.000000,0.000000,0.000000,0.000000
10,Greenwich,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.006579
11,Hackney,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.004505,...,0.000000,0.006757,0.011261,0.00000,0.000000,0.000000,0.002252,0.018018,0.000000,0.000000
12,Hammersmith and Fulham,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.006757,0.006757,0.00000,0.000000,0.000000,0.000000,0.010135,0.000000,0.000000
13,Haringey,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.006536,0.000000,0.000000,...,0.000000,0.003268,0.003268,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
14,Harrow,0.00000,0.008333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
15,Havering,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.015873,0.000000,0.000000,...,0.007937,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
16,Hillingdon,0.00000,0.000000,0.000000,0.000000,0.007353,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
17,Hounslow,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.005319,0.000000,0.000000
18,Islington,0.00000,0.004167,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.002083,...,0.000000,0.008333,0.002083,0.00000,0.004167,0.000000,0.000000,0.000000,0.000000,0.000000
19,Kensington and Chelsea,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.003846,0.000000,...,0.000000,0.003846,0.003846,0.00000,0.000000,0.000000,0.000000,0.003846,0.000000,0.000000
20,Kingston upon Thames,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
21,Lambeth,0.00000,0.000000,0.008403,0.000000,0.000000,0.000000,0.000000,0.008403,0.000000,...,0.000000,0.008403,0.000000,0.00000,0.004202,0.000000,0.000000,0.008403,0.000000,0.000000
22,Lewisham,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.004219,0.004219,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
23,Merton,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
24,Newham,0.00565,0.000000,0.000000,0.000000,0.000000,0.000000,0.005650,0.000000,0.000000,...,0.000000,0.005650,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25,Redbridge,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.007692,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
26,Richmond upon Thames,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.006757,0.000000,0.000000,...,0.000000,0.000000,0.006757,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
27,Southwark,0.00000,0.000000,0.002907,0.000000,0.000000,0.000000,0.011628,0.005814,0.000000,...,0.000000,0.002907,0.000000,0.00000,0.000000,0.002907,0.000000,0.002907,0.000000,0.000000
28,Sutton,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
29,Tower Hamlets,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.002179,0.002179,...,0.000000,0.004357,0.002179,0.00000,0.004357,0.000000,0.000000,0.004357,0.000000,0.000000
30,Waltham Forest,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
31,Wandsworth,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.018868,0.000000,0.00000,0.000000,0.000000,0.000000,0.009434,0.000000,0.000000
32,Westminster,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.001764,0.000000,0.000000,...,0.000000,0.008818,0.008818,0.00000,0.001764,0.000000,0.000000,0.005291,0.000000,0.000000

In [109]:
def return_most_common_venues(row, num_top_venues):
    row_categories = row.iloc[1:]
    row_categories_sorted = row_categories.sort_values(ascending=False)
    
    return row_categories_sorted.index.values[0:num_top_venues]

In [110]:
num_top_venues = 5

indicators = ['st', 'nd', 'rd']

# create columns according to number of top venues
columns = ['Boroughs']
for ind in np.arange(num_top_venues):
    try:
        columns.append('{}{} Most Common Venue'.format(ind+1, indicators[ind]))
    except:
        columns.append('{}th Most Common Venue'.format(ind+1))

# create a new dataframe
borough_venues_sorted = pd.DataFrame(columns=columns)
borough_venues_sorted['Boroughs'] = london_grouped['Boroughs']

for ind in np.arange(london_grouped.shape[0]):
    borough_venues_sorted.iloc[ind, 1:] = return_most_common_venues(london_grouped.iloc[ind, :], num_top_venues)

borough_venues_sorted.head()

,Boroughs,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue
0,Barking and Dagenham,Hotel,Supermarket,Grocery Store,Gas Station,Gym
1,Barnet,Coffee Shop,Grocery Store,Café,Pub,Bus Stop
2,Bexley,Pub,Grocery Store,Coffee Shop,Café,Fast Food Restaurant
3,Brent,Pub,Coffee Shop,Grocery Store,Fast Food Restaurant,Café
4,Bromley,Pub,Café,Supermarket,Platform,Coffee Shop

In [111]:
total_venues = total_venues.groupby('Boroughs').agg({'TotalVenues':'sum'})

In [112]:
total_venues

                        TotalVenues
Boroughs
Barking and Dagenham             54
Barnet                          392
Bexley                          206
Brent                           290
Bromley                         311
Camden                         1279
City                            397
Croydon                         160
Ealing                          219
Enfield                         182
Greenwich                       153
Hackney                         627
Hammersmith and Fulham          546
Haringey                        369
Harrow                          120
Havering                        165
Hillingdon                      136
Hounslow                        207
Islington                      1082
Kensington and Chelsea          452
Kingston upon Thames            292
Lambeth                         374
Lewisham                        250
Merton                          134
Newham                          217
Redbridge                       137
Richmond upon Thames            356
Southwark                       489
Sutton                           76
Tower Hamlets                   904
Waltham Forest                  129
Wandsworth                      337
Westminster                    1471

In [113]:
flf

,Location,OSgridref,Boroughs,latitude,longitude,employment rate,CrimeRate,Avg_house_price,Area(sqmi)
0,Abbey Wood,TQ465785,Bexley,51.486484,0.109318,76.0,7.239654,"342,500",23.38
1,Albany Park,TQ478728,Bexley,51.434929,0.125663,76.0,7.239654,"342,500",23.38
2,Barnehurst,TQ505755,Bexley,51.458479,0.165667,76.0,7.239654,"342,500",23.38
3,Barnes Cray,TQ525755,Bexley,51.457944,0.194464,76.0,7.239654,"342,500",23.38
4,Belvedere,TQ495785,Bexley,51.485699,0.152539,76.0,7.239654,"342,500",23.38
...,...,...,...,...,...,...,...,...,...
558,South Hackney,TQ355845,Hackney,51.543141,-0.046853,72.8,12.038754,"530,000",7.36
559,Stamford Hill,TQ335875,Hackney,51.570576,-0.074562,72.8,12.038754,"530,000",7.36
560,Stoke Newington,TQ335865,Hackney,51.561590,-0.074942,72.8,12.038754,"530,000",7.36
561,Upper Clapton,TQ345875,Hackney,51.570339,-0.060129,72.8,12.038754,"530,000",7.36
562,West Hackney,TQ340865,Hackney,51.561471,-0.067727,72.8,12.038754,"530,000",7.36

In [114]:
flf2 = pd.merge(flf,total_venues,on=['Boroughs'])

In [115]:
flf2

,Location,OSgridref,Boroughs,latitude,longitude,employment rate,CrimeRate,Avg_house_price,Area(sqmi),TotalVenues
0,Abbey Wood,TQ465785,Bexley,51.486484,0.109318,76.0,7.239654,"342,500",23.38,206
1,Albany Park,TQ478728,Bexley,51.434929,0.125663,76.0,7.239654,"342,500",23.38,206
2,Barnehurst,TQ505755,Bexley,51.458479,0.165667,76.0,7.239654,"342,500",23.38,206
3,Barnes Cray,TQ525755,Bexley,51.457944,0.194464,76.0,7.239654,"342,500",23.38,206
4,Belvedere,TQ495785,Bexley,51.485699,0.152539,76.0,7.239654,"342,500",23.38,206
...,...,...,...,...,...,...,...,...,...,...
558,South Hackney,TQ355845,Hackney,51.543141,-0.046853,72.8,12.038754,"530,000",7.36,627
559,Stamford Hill,TQ335875,Hackney,51.570576,-0.074562,72.8,12.038754,"530,000",7.36,627
560,Stoke Newington,TQ335865,Hackney,51.561590,-0.074942,72.8,12.038754,"530,000",7.36,627
561,Upper Clapton,TQ345875,Hackney,51.570339,-0.060129,72.8,12.038754,"530,000",7.36,627
562,West Hackney,TQ340865,Hackney,51.561471,-0.067727,72.8,12.038754,"530,000",7.36,627

In [116]:
flf2['Venuespermi'] = flf2['TotalVenues']/pd.to_numeric(flf2['Area(sqmi)'])

In [117]:
flf2

,Location,OSgridref,Boroughs,latitude,longitude,employment rate,CrimeRate,Avg_house_price,Area(sqmi),TotalVenues,Venuespermi
0,Abbey Wood,TQ465785,Bexley,51.486484,0.109318,76.0,7.239654,"342,500",23.38,206,8.810950
1,Albany Park,TQ478728,Bexley,51.434929,0.125663,76.0,7.239654,"342,500",23.38,206,8.810950
2,Barnehurst,TQ505755,Bexley,51.458479,0.165667,76.0,7.239654,"342,500",23.38,206,8.810950
3,Barnes Cray,TQ525755,Bexley,51.457944,0.194464,76.0,7.239654,"342,500",23.38,206,8.810950
4,Belvedere,TQ495785,Bexley,51.485699,0.152539,76.0,7.239654,"342,500",23.38,206,8.810950
...,...,...,...,...,...,...,...,...,...,...,...
558,South Hackney,TQ355845,Hackney,51.543141,-0.046853,72.8,12.038754,"530,000",7.36,627,85.190217
559,Stamford Hill,TQ335875,Hackney,51.570576,-0.074562,72.8,12.038754,"530,000",7.36,627,85.190217
560,Stoke Newington,TQ335865,Hackney,51.561590,-0.074942,72.8,12.038754,"530,000",7.36,627,85.190217
561,Upper Clapton,TQ345875,Hackney,51.570339,-0.060129,72.8,12.038754,"530,000",7.36,627,85.190217
562,West Hackney,TQ340865,Hackney,51.561471,-0.067727,72.8,12.038754,"530,000",7.36,627,85.190217

In [118]:
flf2.drop(columns=['Area(sqmi)','TotalVenues'],inplace=True)

In [119]:
flf2

,Location,OSgridref,Boroughs,latitude,longitude,employment rate,CrimeRate,Avg_house_price,Venuespermi
0,Abbey Wood,TQ465785,Bexley,51.486484,0.109318,76.0,7.239654,"342,500",8.810950
1,Albany Park,TQ478728,Bexley,51.434929,0.125663,76.0,7.239654,"342,500",8.810950
2,Barnehurst,TQ505755,Bexley,51.458479,0.165667,76.0,7.239654,"342,500",8.810950
3,Barnes Cray,TQ525755,Bexley,51.457944,0.194464,76.0,7.239654,"342,500",8.810950
4,Belvedere,TQ495785,Bexley,51.485699,0.152539,76.0,7.239654,"342,500",8.810950
...,...,...,...,...,...,...,...,...,...
558,South Hackney,TQ355845,Hackney,51.543141,-0.046853,72.8,12.038754,"530,000",85.190217
559,Stamford Hill,TQ335875,Hackney,51.570576,-0.074562,72.8,12.038754,"530,000",85.190217
560,Stoke Newington,TQ335865,Hackney,51.561590,-0.074942,72.8,12.038754,"530,000",85.190217
561,Upper Clapton,TQ345875,Hackney,51.570339,-0.060129,72.8,12.038754,"530,000",85.190217
562,West Hackney,TQ340865,Hackney,51.561471,-0.067727,72.8,12.038754,"530,000",85.190217

In [120]:
for index,row in borough_venues_sorted.iterrows():
    if(row['Boroughs']!=sorted(Filter)[index]):
        print(len(row['Boroughs']),len(sorted(Filter)[index]))
        
print(borough_venues_sorted['Boroughs'].unique())
print(np.shape(borough_venues_sorted['Boroughs'].unique()))

['Barking and Dagenham' 'Barnet' 'Bexley' 'Brent' 'Bromley' 'Camden'
 'City' 'Croydon' 'Ealing' 'Enfield' 'Greenwich' 'Hackney'
 'Hammersmith and Fulham' 'Haringey' 'Harrow' 'Havering' 'Hillingdon'
 'Hounslow' 'Islington' 'Kensington and Chelsea' 'Kingston upon Thames'
 'Lambeth' 'Lewisham' 'Merton' 'Newham' 'Redbridge' 'Richmond upon Thames'
 'Southwark' 'Sutton' 'Tower Hamlets' 'Waltham Forest' 'Wandsworth'
 'Westminster']
(33,)

In [121]:
flf2 = pd.merge(flf2, borough_venues_sorted, on=['Boroughs'])

In [122]:
flf2

,Location,OSgridref,Boroughs,latitude,longitude,employment rate,CrimeRate,Avg_house_price,Venuespermi,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue
0,Abbey Wood,TQ465785,Bexley,51.486484,0.109318,76.0,7.239654,"342,500",8.810950,Pub,Grocery Store,Coffee Shop,Café,Fast Food Restaurant
1,Albany Park,TQ478728,Bexley,51.434929,0.125663,76.0,7.239654,"342,500",8.810950,Pub,Grocery Store,Coffee Shop,Café,Fast Food Restaurant
2,Barnehurst,TQ505755,Bexley,51.458479,0.165667,76.0,7.239654,"342,500",8.810950,Pub,Grocery Store,Coffee Shop,Café,Fast Food Restaurant
3,Barnes Cray,TQ525755,Bexley,51.457944,0.194464,76.0,7.239654,"342,500",8.810950,Pub,Grocery Store,Coffee Shop,Café,Fast Food Restaurant
4,Belvedere,TQ495785,Bexley,51.485699,0.152539,76.0,7.239654,"342,500",8.810950,Pub,Grocery Store,Coffee Shop,Café,Fast Food Restaurant
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558,South Hackney,TQ355845,Hackney,51.543141,-0.046853,72.8,12.038754,"530,000",85.190217,Café,Pub,Coffee Shop,Bakery,Bar
559,Stamford Hill,TQ335875,Hackney,51.570576,-0.074562,72.8,12.038754,"530,000",85.190217,Café,Pub,Coffee Shop,Bakery,Bar
560,Stoke Newington,TQ335865,Hackney,51.561590,-0.074942,72.8,12.038754,"530,000",85.190217,Café,Pub,Coffee Shop,Bakery,Bar
561,Upper Clapton,TQ345875,Hackney,51.570339,-0.060129,72.8,12.038754,"530,000",85.190217,Café,Pub,Coffee Shop,Bakery,Bar
562,West Hackney,TQ340865,Hackney,51.561471,-0.067727,72.8,12.038754,"530,000",85.190217,Café,Pub,Coffee Shop,Bakery,Bar

In [123]:
flf2.drop(columns=['latitude','longitude','Location','OSgridref'],inplace=True)

In [124]:
flf2

,Boroughs,employment rate,CrimeRate,Avg_house_price,Venuespermi,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue
0,Bexley,76.0,7.239654,"342,500",8.810950,Pub,Grocery Store,Coffee Shop,Café,Fast Food Restaurant
1,Bexley,76.0,7.239654,"342,500",8.810950,Pub,Grocery Store,Coffee Shop,Café,Fast Food Restaurant
2,Bexley,76.0,7.239654,"342,500",8.810950,Pub,Grocery Store,Coffee Shop,Café,Fast Food Restaurant
3,Bexley,76.0,7.239654,"342,500",8.810950,Pub,Grocery Store,Coffee Shop,Café,Fast Food Restaurant
4,Bexley,76.0,7.239654,"342,500",8.810950,Pub,Grocery Store,Coffee Shop,Café,Fast Food Restaurant
...,...,...,...,...,...,...,...,...,...,...
558,Hackney,72.8,12.038754,"530,000",85.190217,Café,Pub,Coffee Shop,Bakery,Bar
559,Hackney,72.8,12.038754,"530,000",85.190217,Café,Pub,Coffee Shop,Bakery,Bar
560,Hackney,72.8,12.038754,"530,000",85.190217,Café,Pub,Coffee Shop,Bakery,Bar
561,Hackney,72.8,12.038754,"530,000",85.190217,Café,Pub,Coffee Shop,Bakery,Bar
562,Hackney,72.8,12.038754,"530,000",85.190217,Café,Pub,Coffee Shop,Bakery,Bar

In [125]:
flf2.drop_duplicates(inplace=True)

In [126]:
flf2.reset_index(drop=True,inplace=True)

In [127]:
flf2

,Boroughs,employment rate,CrimeRate,Avg_house_price,Venuespermi,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue
0,Bexley,76.0,7.239654,"342,500",8.810950,Pub,Grocery Store,Coffee Shop,Café,Fast Food Restaurant
1,Greenwich,73.0,10.357328,"420,000",8.369803,Pub,Bus Stop,Grocery Store,Café,Fast Food Restaurant
2,Ealing,75.3,9.268629,"485,000",10.214552,Pub,Café,Indian Restaurant,Park,Bus Stop
3,Hammersmith and Fulham,76.2,12.553540,"777,475",86.255924,Pub,Coffee Shop,Café,Italian Restaurant,Bakery
4,Croydon,77.8,9.274791,"365,000",4.788985,Park,Coffee Shop,Platform,Café,Grocery Store
5,Redbridge,71.6,8.248237,"420,000",6.290174,Coffee Shop,Café,Grocery Store,Pub,Pizza Place
6,City,82.1,103.960770,"835,000",354.464286,Coffee Shop,Pub,Hotel,Gym / Fitness Center,Cocktail Bar
7,Westminster,68.0,28.458750,"1,025,000",177.442702,Coffee Shop,Hotel,Café,Pub,Italian Restaurant
8,Brent,67.5,9.305861,"499,950",17.365269,Pub,Coffee Shop,Grocery Store,Fast Food Restaurant,Café
9,Bromley,79.0,7.715410,"440,000",5.364844,Pub,Café,Supermarket,Platform,Coffee Shop
10,Islington,72.0,12.573420,"615,000",188.501742,Coffee Shop,Pub,Café,Bakery,Park
11,Havering,78.3,7.415283,"350,000",3.806228,Coffee Shop,Park,Grocery Store,Pub,Café
12,Barnet,72.4,7.926176,"533,500",11.704987,Coffee Shop,Grocery Store,Café,Pub,Bus Stop
13,Enfield,70.1,9.447096,"402,500",5.734089,Pub,Coffee Shop,Grocery Store,Park,Supermarket
14,Wandsworth,80.3,8.283966,"654,000",25.472411,Pub,Coffee Shop,Indian Restaurant,Bar,Burger Joint
15,Southwark,74.6,11.848896,"530,000",43.895871,Pub,Café,Park,Coffee Shop,Pizza Place
16,Barking and Dagenham,65.8,14.843292,"300,000",3.876525,Hotel,Supermarket,Grocery Store,Gas Station,Gym
17,Richmond upon Thames,78.9,6.679521,"650,000",16.057736,Pub,Coffee Shop,Café,Grocery Store,Park
18,Newham,68.7,10.317968,"390,500",15.522175,Grocery Store,Café,Hotel,Pub,Gym / Fitness Center
19,Sutton,82.4,7.086032,"367,000",4.489073,Clothing Store,Supermarket,Coffee Shop,Pub,Train Station
20,Lewisham,77.4,9.711904,"430,000",18.422992,Pub,Coffee Shop,Café,Park,Grocery Store
21,Harrow,73.5,6.915294,"500,000",6.157004,Indian Restaurant,Grocery Store,Fast Food Restaurant,Park,Pub
22,Camden,70.2,15.074787,"760,000",152.261905,Coffee Shop,Pub,Café,Park,Bakery
23,Kingston upon Thames,71.6,7.322894,"487,250",20.305981,Coffee Shop,Korean Restaurant,Grocery Store,Pub,Supermarket
24,Tower Hamlets,65.3,10.951016,"490,000",118.479685,Coffee Shop,Pub,Hotel,Café,Bus Stop
25,Haringey,74.7,11.471276,"540,000",32.311734,Pub,Café,Coffee Shop,Turkish Restaurant,Park
26,Hounslow,71.5,9.915440,"395,000",9.578899,Pub,Hotel,Bus Stop,Café,Coffee Shop
27,Lambeth,81.9,10.708285,"518,110",36.100386,Pub,Café,Coffee Shop,Pizza Place,Hotel
28,Kensington and Chelsea,64.5,15.133526,"1,315,000",96.581197,Pub,Hotel,Grocery Store,Italian Restaurant,Café
29,Waltham Forest,75.6,9.041900,"445,000",8.605737,Pub,Grocery Store,Café,Coffee Shop,Pizza Place
30,Merton,77.8,7.204493,"470,000",9.228650,Italian Restaurant,Pub,Park,Café,Coffee Shop
31,Hillingdon,74.2,9.144599,"415,000",3.044549,Pub,Hotel,Café,Bus Stop,Chinese Restaurant
32,Hackney,72.8,12.038754,"530,000",85.190217,Café,Pub,Coffee Shop,Bakery,Bar

In [128]:
!pip install geopy
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="london_explorer")
location = geolocator.geocode("Bexley, London, United Kingdom")
print(location.address)

Collecting geopy
  Downloading https://files.pythonhosted.org/packages/07/e1/9c72de674d5c2b8fcb0738a5ceeb5424941fefa080bfe4e240d0bacb5a38/geopy-2.0.0-py3-none-any.whl (111kB)
     |████████████████████████████████| 112kB 21.3MB/s eta 0:00:01
Collecting geographiclib<2,>=1.49 (from geopy)
  Downloading https://files.pythonhosted.org/packages/8b/62/26ec95a98ba64299163199e95ad1b0e34ad3f4e176e221c40245f211e425/geographiclib-1.50-py3-none-any.whl
Installing collected packages: geographiclib, geopy
Successfully installed geographiclib-1.50 geopy-2.0.0
Bexley, London Borough of Bexley, London, Greater London, England, DA5 1LD, United Kingdom

In [129]:
i = 0
blat = np.zeros(33)
blng = np.zeros(33)
for boroughs in flf2['Boroughs']:
    location = geolocator.geocode("{}, London, United Kingdom".format(boroughs))
    print(location.address,flush=True)
    blat[i] = location.latitude
    blng[i] = location.longitude
    i = i + 1

Bexley, London Borough of Bexley, London, Greater London, England, DA5 1LD, United Kingdom
Greenwich, London, Greater London, England, SE10 9HF, United Kingdom
Ealing, London Borough of Ealing, London, Greater London, England, W5 5DG, United Kingdom
Hammersmith, London Borough of Hammersmith and Fulham, London, Greater London, England, W6 9YA, United Kingdom
Croydon, London, Greater London, England, CR0 1SZ, United Kingdom
Redbridge, Eastern Avenue, Aldersbrook, Redbridge, London Borough of Redbridge, London, Greater London, England, IG4 5DQ, United Kingdom
City of London, Greater London, England, EC2V 5AE, United Kingdom
Westminster, Millbank, City of Westminster, London, Greater London, England, SW1P 3JX, United Kingdom
London Borough of Brent, Greater London, England, United Kingdom
Bromley, London, Greater London, England, BR1 1EY, United Kingdom
Islington, London, Greater London, England, N1, United Kingdom
Havering, Lewis Street, Maitland Park, Kentish Town, London Borough of Camden, London, Greater London, England, NW1 8TH, United Kingdom
Chipping Barnet, London Borough of Barnet, London, Greater London, England, EN5 5SB, United Kingdom
Enfield, London, Greater London, England, EN2 6LD, United Kingdom
Wandsworth, London, Greater London, England, SW18 4BX, United Kingdom
Southwark, London, Greater London, England, SE1 0QB, United Kingdom
London Borough of Barking and Dagenham, Greater London, England, United Kingdom
London Borough of Richmond upon Thames, Greater London, England, United Kingdom
London Borough of Newham, Greater London, England, United Kingdom
London Borough of Sutton, Greater London, England, United Kingdom
Lewisham, London, Greater London, England, SE13 6BB, United Kingdom
London Borough of Harrow, Greater London, England, United Kingdom
Camden Town, London, Greater London, England, NW1 9PJ, United Kingdom
Kingston upon Thames, London, Greater London, England, KT1 1JS, United Kingdom
Air Training Corps 31 (Tower Hamlets) Squadron, 405, Mile End Road, Old Ford, Mile End, London Borough of Tower Hamlets, London, Greater London, England, E3 4SS, United Kingdom
London Borough of Haringey, Greater London, England, United Kingdom
Hounslow, London Borough of Hounslow, Greater London, England, TW3 1BL, United Kingdom
Lambeth, London, Greater London, England, SE1 7GD, United Kingdom
Kensington, London, Greater London, England, W8 6NA, United Kingdom
London Borough of Waltham Forest, Greater London, England, United Kingdom
London Borough of Merton, Greater London, England, United Kingdom
London Borough of Hillingdon, Greater London, England, United Kingdom
Hackney, London, Greater London, England, E9 6QW, United Kingdom

In [130]:
print(blat)
print(np.shape(blat))
print(blng)
print(np.shape(blng))

[51.4416793  51.4820845  51.5126553  51.4920377  51.3713049  51.5763203
 51.5156177  51.5004439  51.5638258  51.4028046  51.5384287  51.5443687
 51.65309    51.6520851  51.4570271  51.5029222  51.5541171  51.44037225
 51.52999955 51.3575114  51.4624325  51.5967688  51.5423045  51.4096275
 51.5256294  51.58792985 51.4686132  51.5013012  51.4989948  51.59816935
 51.41080285 51.5425193  51.5432402 ]
(33,)
[ 0.150488   -0.0045417  -0.3051952  -0.2236401  -0.101957    0.0454097
 -0.0919983  -0.1265398  -0.27575966  0.0148142  -0.0999051  -0.14430318
 -0.2002261  -0.0810175  -0.1932607  -0.103458    0.15050434 -0.30571955
  0.02931796 -0.17364012 -0.0101331  -0.33727516 -0.1395604  -0.3062621
 -0.0335853  -0.10541011 -0.3613471  -0.117287   -0.1991229  -0.01783667
 -0.18809851 -0.44833493 -0.0493621 ]
(33,)

In [131]:
flf2['Latitude'] = blat
flf2['Longitude'] = blng

In [132]:
flf2

,Boroughs,employment rate,CrimeRate,Avg_house_price,Venuespermi,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,Latitude,Longitude
0,Bexley,76.0,7.239654,"342,500",8.810950,Pub,Grocery Store,Coffee Shop,Café,Fast Food Restaurant,51.441679,0.150488
1,Greenwich,73.0,10.357328,"420,000",8.369803,Pub,Bus Stop,Grocery Store,Café,Fast Food Restaurant,51.482084,-0.004542
2,Ealing,75.3,9.268629,"485,000",10.214552,Pub,Café,Indian Restaurant,Park,Bus Stop,51.512655,-0.305195
3,Hammersmith and Fulham,76.2,12.553540,"777,475",86.255924,Pub,Coffee Shop,Café,Italian Restaurant,Bakery,51.492038,-0.223640
4,Croydon,77.8,9.274791,"365,000",4.788985,Park,Coffee Shop,Platform,Café,Grocery Store,51.371305,-0.101957
5,Redbridge,71.6,8.248237,"420,000",6.290174,Coffee Shop,Café,Grocery Store,Pub,Pizza Place,51.576320,0.045410
6,City,82.1,103.960770,"835,000",354.464286,Coffee Shop,Pub,Hotel,Gym / Fitness Center,Cocktail Bar,51.515618,-0.091998
7,Westminster,68.0,28.458750,"1,025,000",177.442702,Coffee Shop,Hotel,Café,Pub,Italian Restaurant,51.500444,-0.126540
8,Brent,67.5,9.305861,"499,950",17.365269,Pub,Coffee Shop,Grocery Store,Fast Food Restaurant,Café,51.563826,-0.275760
9,Bromley,79.0,7.715410,"440,000",5.364844,Pub,Café,Supermarket,Platform,Coffee Shop,51.402805,0.014814
10,Islington,72.0,12.573420,"615,000",188.501742,Coffee Shop,Pub,Café,Bakery,Park,51.538429,-0.099905
11,Havering,78.3,7.415283,"350,000",3.806228,Coffee Shop,Park,Grocery Store,Pub,Café,51.544369,-0.144303
12,Barnet,72.4,7.926176,"533,500",11.704987,Coffee Shop,Grocery Store,Café,Pub,Bus Stop,51.653090,-0.200226
13,Enfield,70.1,9.447096,"402,500",5.734089,Pub,Coffee Shop,Grocery Store,Park,Supermarket,51.652085,-0.081018
14,Wandsworth,80.3,8.283966,"654,000",25.472411,Pub,Coffee Shop,Indian Restaurant,Bar,Burger Joint,51.457027,-0.193261
15,Southwark,74.6,11.848896,"530,000",43.895871,Pub,Café,Park,Coffee Shop,Pizza Place,51.502922,-0.103458
16,Barking and Dagenham,65.8,14.843292,"300,000",3.876525,Hotel,Supermarket,Grocery Store,Gas Station,Gym,51.554117,0.150504
17,Richmond upon Thames,78.9,6.679521,"650,000",16.057736,Pub,Coffee Shop,Café,Grocery Store,Park,51.440372,-0.305720
18,Newham,68.7,10.317968,"390,500",15.522175,Grocery Store,Café,Hotel,Pub,Gym / Fitness Center,51.530000,0.029318
19,Sutton,82.4,7.086032,"367,000",4.489073,Clothing Store,Supermarket,Coffee Shop,Pub,Train Station,51.357511,-0.173640
20,Lewisham,77.4,9.711904,"430,000",18.422992,Pub,Coffee Shop,Café,Park,Grocery Store,51.462432,-0.010133
21,Harrow,73.5,6.915294,"500,000",6.157004,Indian Restaurant,Grocery Store,Fast Food Restaurant,Park,Pub,51.596769,-0.337275
22,Camden,70.2,15.074787,"760,000",152.261905,Coffee Shop,Pub,Café,Park,Bakery,51.542305,-0.139560
23,Kingston upon Thames,71.6,7.322894,"487,250",20.305981,Coffee Shop,Korean Restaurant,Grocery Store,Pub,Supermarket,51.409627,-0.306262
24,Tower Hamlets,65.3,10.951016,"490,000",118.479685,Coffee Shop,Pub,Hotel,Café,Bus Stop,51.525629,-0.033585
25,Haringey,74.7,11.471276,"540,000",32.311734,Pub,Café,Coffee Shop,Turkish Restaurant,Park,51.587930,-0.105410
26,Hounslow,71.5,9.915440,"395,000",9.578899,Pub,Hotel,Bus Stop,Café,Coffee Shop,51.468613,-0.361347
27,Lambeth,81.9,10.708285,"518,110",36.100386,Pub,Café,Coffee Shop,Pizza Place,Hotel,51.501301,-0.117287
28,Kensington and Chelsea,64.5,15.133526,"1,315,000",96.581197,Pub,Hotel,Grocery Store,Italian Restaurant,Café,51.498995,-0.199123
29,Waltham Forest,75.6,9.041900,"445,000",8.605737,Pub,Grocery Store,Café,Coffee Shop,Pizza Place,51.598169,-0.017837
30,Merton,77.8,7.204493,"470,000",9.228650,Italian Restaurant,Pub,Park,Café,Coffee Shop,51.410803,-0.188099
31,Hillingdon,74.2,9.144599,"415,000",3.044549,Pub,Hotel,Café,Bus Stop,Chinese Restaurant,51.542519,-0.448335
32,Hackney,72.8,12.038754,"530,000",85.190217,Café,Pub,Coffee Shop,Bakery,Bar,51.543240,-0.049362

In [133]:
flf2.to_csv('london_dataset.csv')

In [134]:
london_grouped.to_csv('london_grouped.csv')